[2021-07-21 20:45] rkfg commented on #536
Surprisingly, they only allow Bitcoin payments [in certain countries](https://zebedee.io/countries/):
![2021-07-21_23-43-06](https://user-images.githubusercontent.com/184066/126557495-bb3001fa-588c-4714-92f5-c53237a04766.png)

First time I see something like that. For fiat it would be fully understandable but not for Bitcoin.

[2021-07-21 21:23] kingonly commented on #536
Well, it's a custodial service working closely with bitstamp so I'm not surprised.

[2021-07-22 02:20] richnetdesign opened #538 "Android WIFI Proxy settings not being respected for Podcasts"
When using a network with a firewall requiring all HTTP/HTTPS traffic be redirected through a proxy, Breeze wallet is failing to load content as the Proxy settings are ignored.  Breeze wallet seems to be making some direct HTTP requests to Port 80 which fail, because it did not try to use the specified proxy server in my WIFI advanced configuration, as is respected with other apps.

I suspect a se

[2021-07-22 03:42] kingonly commented on #538
Breez is using Anytime (https://github.com/amugofjava/anytime_podcast_player) . Would you mind checking if the same issue exists there?

[2021-07-22 04:00] richnetdesign commented on #538
Thanks for the guidance.  I will report back.

[2021-07-22 08:33] rkfg opened #539 "[Feature request] Prefill LNURL Pay amount"
I think it would be useful to automatically set the amount in LNURL payments if the min amount equals max amount. You're not supposed to enter anything else there anyway!
![Screenshot_20210722-112937](https://user-images.githubusercontent.com/184066/126610588-6feb862f-8775-4878-9f68-5fe7135f8e53.png)
For example, on https://chat.blixtwallet.com/ you can post a message for 10 sats exactly and you h

[2021-07-22 08:42] kingonly commented on #539
Good suggestion!

[2021-07-22 15:57] #532 closed

[2021-07-30 09:02] shawnyeager opened #543 "[Feature request] 1.7x playback + trim silence"
In my non-LN podcast player, I've found that using 1.7x + trim silence is the sweet spot, while 2x is just a bit too fast.

I appreciate that 1.7x is likely trivial, while trim silence is a discreet feature addition.

[2021-07-30 09:03] shawnyeager opened #544 "Default to FaceID on iOS"
I've found that almost always (but with unpredictably few exceptions) Breez presents me with the PIN entry screen by default, rather than attempt FaceID.

[2021-07-30 09:10] shawnyeager opened #545 "[Feature request] Persistent mini-player"
It would be a UX improvement to have the mini-player persistent at bottom of screen, during playback, regardless of where else I navigate in the app (e.g. Balance).

[2021-07-30 09:24] kingonly commented on #544
I assume that biometrics is set but doesn't work consistently. Which iOS model? Can you please share a video?

[2021-07-30 10:21] shawnyeager commented on #544
It's set, yes.

To complicate matters, I just rebooted my iPhone 11 after installing iOS 14.7.1, and now FaceID is working consistently with Breez. Whether it's the iOS upgrade, I can't say.

Also, I did install build 4347.1 yesterday to test (via Roei) due to my phone running hot while streaming.

[2021-07-30 10:24] kingonly commented on #544
If it's working on the latest iOS update, I recommend closing for now (users must run the latest updates).
Feel free to reopen if needed.

[2021-07-30 10:24] #544 closed

[2021-07-30 10:26] kingonly commented on #545
We've actually tried that, but found integrating the mini player in other views to be an overkill and even bad UI, especially when you have another player in the notification area of the device.

[2021-07-31 18:49] neb-b opened #547 "[bug] Playback doesn't resume when new audio source starts then stop"
Happening to me on iOS

To reproduce:

1. Start podcast
2. Start a video somewhere (I started watching one on Twitter)
3. Stop video
4. Podcast doesn't start playing

The current time in the app continues to move forward after I stop the other media source, but there is no audio. When I press "pause", then "start" the podcast jumps back x seconds to start when it should have.

[2021-08-01 10:50] kingonly commented on #528
Fixed in latest, package is rolling out today.

[2021-08-01 10:50] #528 closed

[2021-08-01 10:50] kingonly commented on #511
Fixed in latest, package is rolling out today.

[2021-08-01 10:50] #511 closed

[2021-08-01 10:51] #467 closed

[2021-08-03 14:13] kingonly commented on #446
Fixed in latest

[2021-08-03 14:13] #446 closed

[2021-08-06 20:43] exitfiat opened #548 "[Idea] Private App Icon"
Just got the inspiration for a good feature in theory.
Add the option to change the app icon and name to something non money related. Like Calculator or Notes. The Pornhub app already has this option for example.
This could help woman with evil husbands, people in countries where bitcoin is illegal, children with bad parents etc...

[2021-08-08 15:45] bitcoinuser opened #549 "I can't redeem sats with Lnurl-withdraw in a fast way"
Hi,

I like to play Sarutobi, but the game only allow to win new sats after I redeem the one that I won. So usually the users switch from the game to Breez wallet and vice versa all time.
Because this I found a bug on Breez that If I redeem the sats and show the receive animation on Breez and then during the animation I switch back to the game and click to withdraw new sats, the redeem page on Bre

[2021-08-09 16:59] fresheneesz opened #550 "Question: How can I view details about a payment failure?"
It would be nice for there to be a way to toggle visibility of failed payments and a way to view more detailed information about why those payments failed. I recently had a number of attempts where payments from Breez to a Phoenix wallet failed. A few of them failed after a timeout (with a brief toast message telling me), and another went into "pending" state and then failed for some other reason.

[2021-08-09 17:04] kingonly commented on #550
These are most likely temporary Lightning Network issues and the information is in our logs. Breez to Phoenix payments aren't very reliable because they don't rebalance our channels and because the two apps are non-custodial and need to be active to send or receive.

You can also try: https://github.com/breez/breezmobile/wiki/Troubleshooting-Payment-Failures

[2021-08-09 17:04] #550 closed

[2021-08-09 17:26] fresheneesz commented on #550
Thanks. When you say "our logs", is that something I can access? Given that you closed this, I assume you don't think it would be a worthwhile feature to give users an easier ability to look back at payment failures?

[2021-08-09 17:31] kingonly commented on #550
Logs can be accessed via:
Preferences> Developers screen> top right menu> Share Logs

Yes, troubleshooting payment failures isn't a typical end user action in our mind, so providing a UI for it is a bit much... Our logs and our payment failure reports cover our needs.

Btw, even with the logs, troubleshooting these failures are far from easy...

[2021-08-09 17:46] fresheneesz commented on #550
I see, thanks

[2021-08-10 23:33] iBobik opened #551 "LNURL pay generator or guide"
In on-chain ages merchants were able to print QR code with a receiving address, in LN age we can use static LNURL pay/donate QR code. This QR code could have or have not specified amount. It should receive payments directly to their Breez wallet, without need for running LNbits or BtcPay server or having some other wallet in some custodial service.

In an app there could be generator for such URL

[2021-08-10 23:42] iBobik opened #552 "Wallet sync between multiple app installations"
This sync feature is similar to current backup feature - one-way sync vs. two-way sync to cloud storages, plus conflict tolerance.

If conflict recolution is too complicated, it could be good enough to just support multiple receiving-only POSes and just one "admin".

[2021-08-10 23:59] iBobik commented on #473
It could also be nice to configure Github Actions so we can easilly run build also on forks to get ipa even without setting up dev environment. Then we can run it in a Simulator.

Use-case: I would translate app to Czech, but learning how to build Flutter is too big barrier for me.

[2021-08-11 00:56] kingonly commented on #552
What exactly is the issue?
We aren't planning to have the same node running on different devices.

[2021-08-11 01:10] kingonly commented on #551
Generating LNURL-Pay requires running an always online web server. It also doesn't fit mobile nodes which are mostly offline. Not sure what's the issue here.

[2021-08-11 11:49] iBobik commented on #551
So to solve this need (of real merchants I work with) Breez would need to
run some service (webserver and forwarding online wallet). Is there a will?

Honza Pobořil

11. 8. 2021 3:10:39, kingonly ***@***.***> napsal:

[2021-08-11 11:52] kingonly commented on #551
Nope. This is completely out of scope for us. Breez will remain a non-custodial service.
We're looking at bolt12, which would provide similar capabilities inherent to LN.

[2021-08-11 11:52] #551 closed

[2021-08-11 11:55] kingonly commented on #548
There are external apps that allow you to do that, but this isn't something we plan to provide (also supposably not aligned with app stores guidelines).

[2021-08-11 11:55] #548 closed

[2021-08-11 11:55] iBobik commented on #552
This is feature request.

Why node running on different devices? From my point it is similar like current backup feature.

[2021-08-11 11:56] kingonly commented on #552
So I don't understand the request...
Are you referring to Neutrino sync? What is it got to do with the backup?
What exactly are you requesting?

[2021-08-11 11:59] iBobik commented on #551
Could you please focus on the last paragraph of issue decription? It could be solved by an docs.

[2021-08-11 12:01] kingonly commented on #551
What do you mean "can be solved by the doc"? How exactly?

[2021-08-11 12:02] kingonly commented on #552
I think I understand: you want us to provide the capability of running the same wallet on multiple devices? Unfortunately, we don't think we can provide a good UX for it right now... Perhaps in the future.

[2021-08-11 14:42] iBobik commented on #552
Could it be possible to achieve something similar with current backups?
Like what if I restore from backup on second device? Could help if I
disable write access on WebDav server for the second device?

Maybe we could figure out how to help users with this need with current
features.

Honza Pobořil

11. 8. 2021 14:03:04, kingonly ***@***.***> napsal:

[2021-08-11 15:01] kingonly commented on #552
No, after restore Breez blockes usage of the original wallet.

[2021-08-11 15:53] bitcoinuser opened #553 "Be able to receive transactions without need to insert PIN"
Hi,

I would like to be able to receive transactions without need to insert PIN. The PIN should only be required when sending a transaction.

So on Secutity & Backup should have an option like:

Allow receive transaction without insert PIN.

[2021-08-11 16:12] #553 closed, assigned to nobody

[2021-08-13 20:59] rkfg commented on #529
I experimented with Blixt wallet that also uses `lnd` internally, looks like its processing is faster than Breez's. Takes about 3 seconds to send from Blixt to Breez (both have channels opened to my RPi node), about 10 seconds to Muun (Breez spends 25 seconds). Blixt's lnd version is 0.13.1-beta while Breez uses 0.12.1-beta.

It might be coincidental but the debug version is slightly faster, it se

[2021-08-14 17:31] #539 closed

[2021-08-16 10:37] MaxHillebrand opened #555 "[Podcast] Boostagram"
I'm not even sure how to spell this, or where to link to spec documentation of it...

But afaik, in the TLV field of the payment, the sender can include a asci encoded message, with the time stamp and episode number, for every boost payment. This can then be extracted and read by the receiver / podcaster.

That's a super useful feature, and other 2.0 podcatchers have it implemented already.

Maybe

[2021-08-16 10:40] kingonly commented on #555
We want to implement it soon.
It's a duplicate of #524...

[2021-08-16 10:40] #555 closed

[2021-08-16 10:47] MaxHillebrand commented on #555
Sorry for the duplicate then - I completely missed to search the repo - my bad...

[2021-08-16 10:47] kingonly commented on #555
No worries at all - thanks for pushing this 🙏

[2021-08-16 10:48] MaxHillebrand commented on #524
Consider it a bump in the feature request :)
Notice custom amount is discussed in #466.

[2021-08-17 17:37] NorrinRadd commented on #488
Should this still be open?

[2021-08-17 18:21] kingonly commented on #488
Yes, there's a fix committed in the master that wasn't published yet

[2021-08-20 07:59] MaxHillebrand opened #556 "Receive UX Simplification"
The current Receive experience requires numerous clicks before a QR code gets shown. This proposal makes it simpler and easier to use.

1. Click Receive
2. It already shows a QR code of a 0 sat invoice [they are secure now in lnd]
Below are optional user inputs:
3. sat amount [as soon as user types in, invoice & QR change]
4. Memo [which is also instantly included in the invoice & QR]
5. `Receive

[2021-08-20 08:26] kingonly commented on #556
@MaxHillebrand when you say "are secure now in lnd", do you mean AMP/static invoice or regular bolt11 0-amount invoice?

[2021-08-20 09:26] MaxHillebrand commented on #556
I'm not certain tbh, but I think regular bolt 11 0-amount invoices, the sender includes the desired amount of sats in the last onion package, and the receiver verifies it before reveailing the preimage.

[2021-08-20 09:28] kingonly commented on #556
I'll look into it.

[2021-08-23 05:48] Bosch-0 opened #557 "Add ability to use testnet network"
Heya,

I'm from the [Bitcoin Design community](https://bitcoin.design/) and we are major fans of your applications UX - it really is pushing the industry forward and making LN much more accessible!

One thing that would really help us designers experiment with your app, learn more about its inner workings and thus help us improve the overall UX of Bitcoin/LN alongside Breez would be the ability to

[2021-08-23 06:01] kingonly commented on #557
We've had a testnet version when we've started, but our environment we weren't able to keep maintaining or developing it. We do offer a simnet environment https://github.com/breez/breezmobile/wiki/Running-Breez-in-simnet.

[2021-08-23 06:01] #557 closed

[2021-08-31 14:50] bitcoinuser opened #561 "When Breez stay closed for a long time, creating an invoice, the popup close automatically before show qrcode"
Hi,

When Breez stay closed for a long time,  creating an invoice, the popup close automatically before show qrcode. So the user needs to proceed with creating an invoice more than one time.

OS: Android.

[2021-08-31 14:52] kingonly commented on #561
I think the app just closes.

[2021-09-04 11:31] andrasfuchs opened #564 "Add HUF (Hungarian Forint) to currencies"
Please consider adding the Hungarian Forint (HUF) as a fiat currency.

[2021-09-04 11:38] kingonly commented on #564
👍 We'll see what we can do (cc @yaslama)

[2021-09-08 17:26] yaslama commented on #564
We just added HUF

[2021-09-08 17:26] #564 closed

[2021-09-08 18:27] andrasfuchs commented on #564
Wow, that's amazing, thank you guys!!

[2021-09-09 09:51] sturles commented on #397
All my payments seem to fail with "No route" now.  How do I update the channel graph?

[2021-09-09 09:55] Kixunil commented on #397
@sturles Preferences -> Developer -> three dots in top-right corner -> Update Graph

[2021-09-09 10:05] kingonly commented on #524
Added boostagram support in the latest update

[2021-09-09 10:05] #524 closed

[2021-09-09 10:25] kingonly commented on #434
Added error details

[2021-09-09 10:25] #434 closed

[2021-09-09 10:26] #456 closed

[2021-09-09 10:26] kingonly commented on #477
Won't implement for now

[2021-09-09 10:26] #477 closed

[2021-09-09 10:27] kingonly commented on #450
Won't fix, by design

[2021-09-09 10:27] #450 closed

[2021-09-09 10:30] kingonly commented on #488
Fix was published in the latest version, please reopen if needed

[2021-09-09 10:30] #488 closed

[2021-09-09 11:12] sturles commented on #397
OK.  It didn't solve it for me.  Tried to order my coffee beans from two places, getting the same error.  Tried streaming satoshi for postcasts, but my balance isn't changing, and the log tells me it didn't work either.  Is there anything else I can do?

Log for the last attempted podcast streaming:

[code]

[2021-09-09 11:15] kingonly commented on #397
Follow this: https://github.com/breez/breezmobile/wiki/Troubleshooting-Payment-Failures

If it doesn't here, contact us at contact@breez.technology

[2021-09-10 11:17] MaxHillebrand commented on #524
Y'all are rockstars!
Thanks @kingonly

[2021-09-10 11:37] kingonly commented on #524
Last update caused a regression in the "regular" boost. We'll fix soon.

[2021-09-10 13:32] kingonly commented on #524
I updated the APK: https://github.com/breez/breezmobile/wiki/Can-I-download-Breez-APK%3F

Btw, we're adding an amount field to the Boostagram dialog to allow a bit much flexibility.

[2021-09-11 11:51] MaxHillebrand commented on #524
tested latest update, it works well!

Yes, changing amount while writing the text would be useful.

[2021-09-13 16:31] MaxHillebrand opened #569 "[Podcast] Share Soundbite Clip"
It would be great if the listener can create a soundbite with a certain starting / endpoint, and then share this directly to social media.

Not sure how this functionality should be best implemented, maybe cut out from the downloaded mp3/mp4?

There is also the `Soundbite` namespace tag, and some applications like Hypercatcher and Fountain already support this.

[2021-09-13 23:02] pfergi42 commented on #222
I would 2nd this, specifically to test LNURL (withdraw) QR codes.

[2021-09-14 04:36] kingonly commented on #222
Please see our comment on #557.

[2021-09-14 04:36] #222 closed

[2021-09-15 11:17] MaxHillebrand opened #571 "[Podcast] Double entries in episode list"
Sometimes a podcast feed has dublicates of the episode shown.

![IMG_20210915_131546.jpg](https://user-images.githubusercontent.com/30683012/133423750-68b4ccd6-0626-4f42-a36c-7f61f0eb3836.jpg)

[2021-09-21 08:23] MaxHillebrand opened #573 "Verify Backup Password, add Checkmarks"
Currently, in the verification of the backup encryption password, the user needs to type in 3 randomly selected words.

After typing a word, there is no indication if it is correct or wrong.

Instead, please add a checkmark or error icon after a word is typed, to indicate right away if that word is good or not.

[2021-09-21 09:01] kingonly commented on #573
Giving an error after one word allows users to exclude that word.  Giving an error after 3 words is a bit safer in that regard.

[2021-09-21 12:03] MaxHillebrand commented on #573
I don't understand.

[2021-09-21 12:06] kingonly commented on #573
If you give users indication per word, they can guess better what was their mistake. If you give error on 3 words, less chances they would use their memory.

When we've implemented (back in the day), we've look at multiple wallet designs/implementations, and this design made sense.

[2021-09-21 12:16] MaxHillebrand commented on #573
Ah, I see.
Ok, reasonable enough.

Thanks!

[2021-09-21 12:16] #573 closed

[2021-09-25 02:16] juscamarena opened #576 "Add 'breez:' deep link support"
It'd be nice to have deep link support, especially for iOS. Anyone with more than one lightning wallet on iOS has a hard time having the URI open the correct wallet...

Bluewallet and Muun seem to support deeplinking and it'd help the UX for wallets if Phoenix also supported this.

Examples:

https://bluewallet.io/testpage/#:~:text=Deeplinks%20prefixed,%60bluewallet%3A%60
bluewallet:bitcoin:BC1QH6

[2021-09-25 03:59] kingonly commented on #576
Did you test it and it didn't work cause it we added it a long time ago...

[2021-09-25 13:43] ademar111190 opened #578 "Deep link x Clipboard priority"
When the app opens through the deep link and it has clipboard data, the app flows through clipboard flow instead of deep link flow.

in other words, If the user has a lnurl on the clipboard and touches another lnurl, instead of navigates to the touched lnurl it navigates to the clipboard lnurl.

I'm not sure if it is a bug, but seems to be a bug.

[2021-09-25 14:13] talentpierre opened #579 "Printing on Iphone seems to be not possible"
there seems to be no option for printing transactions from the POS to .pdf on iphone.
on android it's possible and works well.

[2021-09-25 14:14] ademar111190 commented on #549
We did record the bug:

https://user-images.githubusercontent.com/1225438/134774525-1b7a80b6-0d75-4172-8695-eb01ebab525e.mp4

https://user-images.githubusercontent.com/1225438/134774517-789be416-5127-4d8d-a93c-d9e7047e3d9a.mp4

[2021-09-25 14:23] talentpierre opened #580 "sum up the total fiat amount for pos printing option"
if you print one transaction you get the total amount of satoshis but not the total amount of fiat.
it would be very helpful to also get the full amount of fia
![photo_2021-09-25_15-20-05](https://user-images.githubusercontent.com/44316281/134774847-a4d5ff41-711d-4561-87f3-ebf07012b4ae.jpg)
t.

[2021-09-25 14:25] kingonly commented on #580
Let's add the total in fiat in parentheses only in case all the item have the same fiat currency.

[2021-09-25 14:26] kingonly commented on #580
@ademar111190 can you please follow up with this?

[2021-09-25 14:27] kingonly commented on #579
@nochiel will look into it

[2021-09-25 14:28] kingonly commented on #576
@roeierez  please confirm breez protocol is supported

[2021-09-25 14:39] kingonly commented on #578
Definitely a bug

[2021-09-25 16:27] juscamarena commented on #576
Ah, perhaps it works. Apologies, I was testing out which wallets supported it and how each one owned the uri and may have not had breez installed when testing. 😅

[2021-09-25 16:46] juscamarena commented on #576
Yes, it is indeed supported, closing!

[2021-09-25 16:46] #576 closed

[2021-09-26 17:56] nochiel commented on #579
@talentpierre. Did you try the following steps:

- Tap the PoS icon on the top left to open the menu.
- Tap `Transactions`.
- Tap the POS transaction you'd like to print.
- On the top right you'll see a print icon.

Alternatively,
- When you complete a transaction and receive a PoS payment, the dialog that pops up has a printer icon that you can tap to print the transaction to pdf.

These currentl

[2021-09-26 18:02] kingonly commented on #579
@talentpierre we don't reproduce the issue on iOS. Besides testing with another device, you could try reconfiguring the printers.

[2021-09-30 08:26] kingonly commented on #492
Added in the latest update

[2021-09-30 08:26] #492 closed

[2021-09-30 08:27] kingonly commented on #110
It's safe now

[2021-09-30 08:27] #110 closed

[2021-09-30 08:28] kingonly commented on #160
We won't add it in the near future it seems 🙃

[2021-09-30 08:28] #160 closed

[2021-09-30 09:01] MaxHillebrand commented on #492
tested ACK, thank you kindly!

[the new boostagram screen with custom amount is great too]

[2021-09-30 09:07] MaxHillebrand commented on #492
should there maybe be a countdown of when the sleep kicks in?
Not sure if this is useful, it would clutter UI...

[2021-09-30 09:07] MaxHillebrand commented on #462
if this gets implemented, the sleep timer #492 should have an additional option of `sleep at end of episode`.

[2021-09-30 09:11] kingonly commented on #462
That's the plan 🙂

[2021-09-30 09:13] kingonly commented on #492
We went with a clean, Spotify-like design

[2021-09-30 09:18] MaxHillebrand opened #582 "[Podcast] Auto-download new episodes"
Some prefer to download episodes automatically, to then have them available for future offline listening.
This should be a per-podcast setting.

This goes great together with automatically add to queue/playlist at top/bottom. #462

[2021-09-30 10:00] MaxHillebrand opened #583 "[Podcast] blue screen before chapter picture"
by default the player shows the podcast logo. When a chapter comes up with a dedicated picture, that podcast logo disappears, there is a split-second blue screen, and then the chapter picture fades in.

Is that blue screen expected / necessary?

It seems to be better to fade out the podcast logo and directly fade in the chapter pic.

[2021-09-30 12:43] mbiskach opened #584 "Cache Storage on Android Grows >10GB in ~1 Month"
Breez Version: 0.12-beta (recently updated from previous version)
Running on stock Pixel 3a XL, Android 11
I use Breez to download podcasts, stream sats/listen, then delete episode upon completion. Looking at the app details page, downloading/deleting episodes increases/decreases User Data size as expected, while Cache increases by a small fraction. Not sure what other mechanism could slowly incre

[2021-09-30 14:50] kingonly commented on #584
Thanks for the issue 🙏
We need to review our cache usage.
Did you delete the cache or kept it? Would be interesting to see the files there.

[2021-10-01 14:05] mbiskach commented on #584
I have not yet cleared the cache, however I do not know how to inspect contents of the cache...

Let me know what information would be useful.

[2021-10-01 14:09] kingonly commented on #584
Would it possible to contact me on telegram?
Might be easier to interact...
@roysheinfeld

[2021-10-03 10:50] MaxHillebrand opened #587 "No error notification when scanning uri QR"
When pasting a onchain address and typing in a low sat amount, there is a notification about a 50k sat minimum amount.

However, when scanning a uri QR with amount, there is no error notification, it simply returns to the home screen.

[2021-10-11 18:18] Kixunil opened #592 "iOS: standard go back gesture doesn't work (or unimplemented)"
This was reported by a friend who I talked to over text messages and I don't have iOS phone so I may not be perfectly accurate in description. He explained that there's some kind of "go back" gesture in iOS that is a replacement for back arrow on Android. According to him it does not work in Breez and is quite annoying as iOS users tend to use the standardized ways of interacting with apps.

[2021-10-12 21:58] bitcoinuser opened #593 "When open a Lnur-pay with Breez locked, show the Android keyboard"
Hi,

When open a Lnur-pay like (https://zbd.gg/leo) with Breez locked, show the Android keyboard, but shouldn't.

![photo_2021-10-12_18-56-23](https://user-images.githubusercontent.com/1178856/137034772-94f80d13-9565-42ab-b93d-c92217a2b313.jpg)

[2021-10-15 05:07] Bosch-0 opened #595 "[BD] Use uppercase lettering for invoices and addresses"
Breez currently uses lower cased bitcoin addresses and Lightning invoices. As [outlined here](https://bitcoinops.org/en/bech32-sending-support/#creating-more-efficient-qr-codes-with-bech32-addresses) using uppercase lettering results in more efficient QR code generation making them easier to scan.

[2021-10-15 12:52] kingonly commented on #579
This is the expected result on iOS. We offer print, not PDF.
You can probably find a print to pdf app on iOS.
Maybe one of these: https://pdf.wondershare.com/mobile-app/free-pdf-printer-for-iphone.html

[2021-10-16 11:04] clayt0nk opened #596 "Webdav backup not working for me"
First I tried to backup to a Nextcloud instance on my local network. That failed because apparently Breez will not accept an IP address in place of a URL.

Then I tried to backup to a remote Webdav share. That worked once at setup time, yesterday. Today it just says "Failed to save backup files to Remote Server", with no further explanation, no change to Webdav credentials. I tried many network co

[2021-10-16 11:06] kingonly commented on #596
Let's handle this via our support channel since it maybe something specific to your environment.
Please send us an email to contact@breez.technology and we'll follow up with you directly.

[2021-10-16 11:06] #596 closed

[2021-10-17 09:08] kingonly commented on #595
@nochiel Please take a look. Only the QR should be effected.

[2021-10-17 09:09] kingonly commented on #584
@roeierez please update

[2021-10-17 09:20] kingonly opened #597 "[BD] Save the fiat sale amount in POS"
If the entire sale is in the same currency, save the fiat amount for accounting purposes.

[2021-10-17 09:30] kingonly opened #598 "[BD] Review fiat currency symbol placement"
"Placing currency € before the number is an English way of displaying it. All European users except UK (and Turkey) place it after the number (and one space) (347.57 €)
https://en.wikipedia.org/wiki/Language_and_the_euro#Summary
Since this currency will be used by continental Europeans the most, especially from eurozone, it would be a nice change.
Same goes for zł (polish złoty) - it is always pla

[2021-10-17 09:30] kingonly commented on #598
@erdemyerebasmaz please take a look

[2021-10-17 09:40] kingonly opened #599 "[BD] Use the POS icon in the payments list for POS sales"
And add a link to the sales information in the payment dialog.
Need to think about the title.

[2021-10-17 10:04] kingonly opened #600 "[BD] Change the color of the 'Gotcha!' button in Boost tutorial"

[2021-10-18 02:03] TheBlueMatt opened #601 "Server Offline?"
I currently get a 502 Error popup when I try to create a large invoice, and smaller invoices simply disappears the invoice request popup without any invoice.

[2021-10-18 02:14] bitcoinuser commented on #601
Same here

[2021-10-18 02:19] RealDudePerson commented on #601
Can confirm, same issue here.

"Failed to create an invoice (rpc error: code = Unavailable desc = Bad Gateway: HTTP status code 502; transport: received the unexpected content-type "text/plain; charset=utf-8").
Please try again later."

[2021-10-18 05:22] TheBlueMatt commented on #601
Seems to be working now.

[2021-10-18 05:22] #601 closed

[2021-10-27 19:03] huumn opened #611 "How do I add Stacker News as a Breeze app?"
Sorry for the issue spam. Discussions aren't available and I couldn't (quickly) find a guide on how to do this.

We already support WebLN invoice/withdrawal. I had a user request it https://github.com/stackernews/stacker.news/issues/46

[2021-10-27 19:09] #611 closed, assigned to nobody

[2021-10-29 23:27] adriano-pinaffo opened #615 "Sent funds to the wallet but they don’t arrive"
I sent funds to the wallet via a BTC address and it fails with the errors in the images below. More than 20 confirmations have passed now.

First it said “Payment is in transition”
Then it said “Context deadline exceeded”

Why is this happening?
I have an iPhone X with iOS 14.6

![image](https://user-images.githubusercontent.com/28174227/139511080-f6be233e-6a18-47dc-bb47-b7c6a2eb83c4.png)

![image

[2021-10-30 14:53] mendozal commented on #615
Having the same issue

[2021-10-30 14:55] kingonly commented on #615
Don't uninstall Breez. Wait for a refund.
Hopefully we'll be able to fix this sooner:
https://github.com/breez/breezmobile/wiki/Adding-Funds-via-Submarine-Swaps

[2021-10-30 18:03] adriano-pinaffo commented on #615
I joined the Telegram channel and talked to Roy there, I informed that by the time he told me not to uninstall I had already uninstalled the app, and worse... my 24 mnemonic words are not restoring my wallet. Now I can't get access to my funds. It may be the case that one of the 24 words is wrong in my case and Roy pointed me to this [issue](https://github.com/breez/breezmobile/issues/383), There,

[2021-10-30 18:08] kingonly commented on #615
Let's continue this via support.
You can contact us at contact@breez.technology.

[2021-10-30 18:08] #615 closed

[2021-10-30 18:14] adriano-pinaffo commented on #615
I just noticed that I can reference that issue here.

In #383, @fresheneesz, managed to download the Google Drive backup file and run a nodejs program on the backup to recover his 24 words (in his case he confirmed he had the right words, in my case I need to test the 24 words I have noted down becausee it may be the case that one of them is wrong. The problem is, I can't download the backup file

[2021-10-30 18:45] kingonly commented on #615
@roeierez can you please take a look?

[2021-10-31 12:30] kingonly commented on #598
We will close when publish

[2021-10-31 17:50] adriano-pinaffo commented on #615
I managed to borrow an android phone and there I could download the backup.
Then I put in my PC, adapted @fresheneesz script (thank you so much for the initial work), and created my script that permutes all the 24 words for the 2000+ words in the wordlist. In a matter of seconds I found out I had mistyped one single letter but the word was still valid.

That's why I back up @fresheneesz idea that

[2021-10-31 17:53] adriano-pinaffo commented on #615
I managed to borrow an android phone and there I could download the backup.
Then I put in my PC, adapted @fresheneesz script (thank you so much for the initial work), and created my script that permutes all the 24 words for the 2000+ words in the wordlist. In a matter of seconds I found out I had mistyped one single letter but the word was still valid.

That's why I back up @fresheneesz idea that

[2021-10-31 17:56] adriano-pinaffo commented on #615
About the funds, the wallet now says the transaction had expired and that I will be able to redeem the funds in one more block (whatever that means). Let's see

[2021-11-01 04:00] nochiel opened #616 "Handle `lightning:name@domain.com` URIs correctly."
## Bug

- `lightning:name@domain.com`  is not handled when scanned from QR code or pasted from clipboard.

## Rationale

## References

- breez/breezmobile/pull/560
- https://twitter.com/dergigi/status/1454444857255211022?t=4IcLkvZ0yAUngXKSpdycvg
- https://github.com/andrerfneves/lightning-address/blob/master/README.md
- https://github.com/lightningnetwork/lightning-rfc/blob/46c454cb567326f03107d2

[2021-11-02 07:37] kingonly commented on #598
We'll close when we publish

[2021-11-02 16:15] kingonly commented on #600
We'll close when published

[2021-11-05 07:08] MaxHillebrand commented on #616
Not URI related, but if I manually type in `user@domain.com ` [notice the space at the end] then it says `Invalid invoice or ID`.

Trailing whitespace should be ignored!

[2021-11-05 09:38] nochiel commented on #616
Thank you, @MaxHillebrand. I'll fix that too.

[2021-11-08 10:48] kingonly commented on #600
Published

[2021-11-08 10:48] #600 closed

[2021-11-08 10:48] kingonly commented on #599
Published

[2021-11-08 10:48] #599 closed

[2021-11-08 10:48] kingonly commented on #598
Published

[2021-11-08 10:48] #598 closed

[2021-11-08 10:49] kingonly commented on #597
Published

[2021-11-08 10:49] #597 closed

[2021-11-08 10:49] kingonly commented on #595
Published

[2021-11-08 10:49] #595 closed

[2021-11-08 10:49] kingonly commented on #584
Published

[2021-11-08 10:49] #584 closed

[2021-11-08 10:51] kingonly commented on #489
Published

[2021-11-08 10:51] #489 closed

[2021-11-10 06:23] #616 closed

[2021-11-10 15:40] daveajones opened #624 "TLV record field types incorrect"
Some of the types on the JSON properties are incorrect (feedID and value_msat_total should be integers, not strings for example).  It might be worth taking a look through the TLV 7629169 spec just to make sure everything matches up:

https://github.com/satoshisstream/satoshis.stream/blob/main/TLV_registry.md#field-7629169

I'll look at doing a pull request also to help out.

[2021-11-10 22:30] prayank23 opened #626 "json decode (status: 502 Bad Gateway): invalid character '<' looking for beginning of value"
Why do I see this error when I click on Send -> Send to BTC Address in app?

![image](https://user-images.githubusercontent.com/13405205/141203799-9c006da1-1e94-4551-9733-08b9f42ab639.png)

App and device details:

Breez version 0.12-beta
Android 10
OnePlus 6

[2021-11-10 22:32] kingonly commented on #626
The Boltz service is down for maintenance:
https://t.me/breez_lightning/21263

Should be up soon.

[2021-11-10 22:32] #626 closed

[2021-11-14 15:41] rkfg opened #628 "Breez should ignore HTTP status code in LNURL flows"
When trying to pay to my Lightning address I get this:
![Screenshot_20211114-183543](https://user-images.githubusercontent.com/184066/141687823-fcea334e-c3e9-44ff-b515-40b1adf33185.png)
[The spec](https://github.com/fiatjaf/lnurl-rfc/blob/luds/01.md#http-status-codes-and-content-type) says: `Neither status codes or any HTTP Header has any meaning. Servers may use whatever they want. Clients should

[2021-11-14 15:43] kingonly commented on #628
Why doesn't the spec follow normal http conventions?

[2021-11-14 15:47] rkfg commented on #628
That's up to the spec authors. Still, 201 is an "ok" code so it shouldn't break the flow I think.

[2021-11-14 15:48] kingonly commented on #628
It's 'Created'. Not sure why it should be used in this context. The spec isn't set in stone.

[2021-11-14 15:51] rkfg commented on #628
Yes, it's not 200 OK but it's in the 2xx range. It's an implementation detail and I sure can change it on my side. But currently Breez doesn't conform to the spec so I decided to report that. Feel free to escalate to the spec authors if you have objections (I'm neutral about this).

[2021-11-14 16:28] kingonly commented on #628
We will push a fix to support 2xx codes for now.
@nochiel please discard, @roeierez is already on it.

[2021-11-16 14:30] bitcoinuser opened #629 "Year 1969 on expiration date on transaction on pending state"
Year 1969 on expiration date on transaction on pending state

![photo_2021-11-16_11-28-22](https://user-images.githubusercontent.com/1178856/142004021-816fa937-fe2c-4126-936d-cd60d261e76b.jpg)

[2021-11-18 22:14] Transisto opened #631 "When paying a lighting invoice via link, there is no fiat value shown to protect from overcharges."
![telegram-cloud-photo-size-1-4951773404965480767-y](https://user-images.githubusercontent.com/388716/142505289-d607a6b9-5c74-4fe8-aa0f-f755d72462d6.jpg)

[2021-11-18 22:17] kingonly commented on #631
1. You can long press the amount to get the fiat value
2. Make sats your unit of account

[2021-11-18 22:17] #631 closed

[2021-11-18 22:20] Transisto commented on #631
Great thanks, not obvious though.

[2021-11-19 03:00] iBobik opened #632 ""Send to BTC address" is Pending for a weeks"
Hi,
I tried to send on-chain transaction from Breez, but it is stuck in Waiting to broadcast transaction for a few weeks.

[2021-11-19 03:31] kingonly commented on #632
Please email us at contact@breez.technology with the output of listchannels command from the Developers screen.

[2021-11-19 03:31] #632 closed

[2021-11-20 16:34] iBobik opened #634 "Add support for Paying to internet identifiers (e-mail like)"
https://github.com/fiatjaf/lnurl-rfc/blob/luds/16.md

[2021-11-20 17:49] kingonly commented on #634
If that's the same as Lightning address, we already support it in the Paste dialog.

[2021-11-21 07:39] MaxHillebrand commented on #634
Ftr, you can also just type in the lightning address (email like) in the invoice field and it will work as well.

[2021-11-21 11:03] iBobik commented on #634
Aha, I haven't found Breez mentioned in the RFCs README.

Honza Pobořil

[2021-11-21 11:08] #634 closed

[2021-11-25 13:50] tlindi opened #635 "PoS default view option"
Make PoS to remember last used view (keypad | items) and open into it after restart.

Br, tlindi

[2021-11-25 13:58] kingonly commented on #635
@ademar111190 please follow up

[2021-11-26 00:06] LightningHelper opened #637 "problems with podcast boost"
Not sure what is the problem, but when I try to boost an episode I first see the full boost size (in pending) and then it switch to a very small amount of satoshis, see here:

![image](https://user-images.githubusercontent.com/35897350/143509222-47a6e262-ed99-4aab-b0a0-9c18e3f455ed.png)

Any idea what is going on?

[2021-11-26 06:34] kingonly commented on #637
It's not a bug, Breez is failing to route the payment. This should be handled in support (contact@breez.technology).

[2021-11-26 06:34] #637 closed

[2021-11-28 16:07] LightningHelper commented on #637
So what I need to do? send them an email ?

[2021-11-28 18:23] kingonly commented on #637
Yes, but make sure the node is ok to accept keysend.
When I try to keysend to 03ab8660c26c3425381d3019fd8ff93518db59c7782cb365b8d6e7006af800608f it fails almost immediately, not sure why. lnd gives no route, but the failure is immediate, so perhaps there's something else hiding there.

[2021-11-28 21:02] LightningHelper commented on #637
which node?

[2021-11-29 10:24] kilrau opened #638 "Eliminate Google Play Services Requirement"
Currently, Breez does not function without Google Play Services, E.g. Bitcoin deposit addresses can't be generated, but there is more. I would claim a decent % of Graphene/Calyx/Lineage users to be in the target user group of Breez which currently sadly have to use alternatives. Publishing releases on F-Droid would be nice too.
![image](https://user-images.githubusercontent.com/19181985/143850939-

[2021-11-29 11:00] kingonly commented on #638
Google Services are required for backup, Connect to Pay and notifications. We have Graphene, Calyx users.
There shouldn't be a problem to generate a btc address...

[2021-11-29 11:14] MaxHillebrand commented on #638
Can confirm Breez runs on Graphene/Calyx.

Nextcloud backup works.
Notifications don't.

But it would indeed be great to get the features withoug google play...
Maybe a separate limited package de-googlified? [extra maintenance burdon of courese, probably a stupid idea]

[2021-11-30 14:53] #635 closed

[2021-12-01 11:48] kilrau commented on #638
Thanks for the replies! Let me clarify:

There shouldn't be a problem to generate a btc address...

Keep in mind that these users might have [MicroG](https://microg.org/) installed which should be treated as "Google Play Services" installed. This issue is about my experience on the latest GrapheneOS without any Google Services (or a substitute like MicroG) installed.

I just reinstalled Breez to t

[2021-12-01 12:26] kingonly commented on #638
Not sure why "Receive" -> "Receive via BTC Address" is blocked.  We'll check if/how we can test it.

[2021-12-01 15:58] iBobik opened #642 "Trigger POS transaction by URL from another app"
I work with a cashier developer, they are interested in implementing LN payments into their cash registers. They develop Android and iOS app, delivered by app stores or on their HW.

The best solution will be if they can integrate with a stand alone wallet app by calling URL handlers with x-callback.

Is there option in Breez to trigger transaction in POS mode (so service does not have to write fi

[2021-12-01 16:09] iBobik opened #643 "Allow to see transactions and balance in a POS mode"
Most of businesses I work with has workflow like: After a shift (once or multiple times a day) they "close cashier" - could cash and card transactions and alight it with data in a cash register. For this cash register apps usually has "close casher" feature which will print summaries of all payments by a method since last close (e.g. Cash: 12345 CZK, Cards 23456 CZK and Bitcoin 345 CZK).

Problem

[2021-12-01 16:13] kingonly commented on #643
There is a Transactions view in POS mode

[2021-12-01 16:13] iBobik commented on #643
There is also another use case: When transaction fails or takes time, service often close transaction dialog before making sure what happened. Often customer tells them a few secons after they closed it transaction was successful. But service cannot verify it, cannot just see last transactions and be calm they will not have to pay it from their salary.

[2021-12-01 16:15] kingonly commented on #643
![Screenshot_20211201-181401](https://user-images.githubusercontent.com/31890660/144271072-eb3c5aad-5477-4b63-9a67-fdbc24f21884.jpg)

[2021-12-01 16:15] #643 closed

[2021-12-01 16:17] iBobik commented on #643
Aha, thank you, I tried only balance screen.

So there are the rest of the points - see fiat amounts in a list and summaries by days. I see it only in a export, but this is not handy for their use-cases.

[2021-12-01 16:21] iBobik opened #644 "Improve POS UI on tablets"
Tablets what are usually used for cash registers have more than 12 inches. Breez POS mode UI is not read well on this sizes.

I am not designer, but I can imagine it could help to understand UI when there will be some margins around the keyboards, Charge field etc.

But this it really low priority, because after a few tries people remember it. It just scares people while onboarding them.

[2021-12-02 16:31] tlindi opened #645 "POS Items View products are not sorted"
Products are viewed on addition order currently.

Please implement sorting
![Uploading IMG_20211202_182247.jpg…]()
by currency, currency value and/or Items Name.

[2021-12-02 16:52] tlindi opened #646 "Receipt Printing fails when item Name has special chars"
Please see images to reproduce. Android 10 Nokia 5.1 Plus.

![IMG_20211202_185118_005](https://user-images.githubusercontent.com/7249767/144466730-f87cf19c-4325-44f5-b439-f0bb0f5f74d6.jpg)
![IMG_20211202_185123_574](https://user-images.githubusercontent.com/7249767/144466751-e1acf431-0f64-4ee8-b3d0-426192beee31.jpg)

[2021-12-04 10:41] rkfg commented on #529
Any progress? Simple Bitcoin Wallet is able to send an LN transaction in 2-3 seconds and it's instant when I'm sending to my own neighboring node I have a channel with. Breez became so slow I stopped using it at all. `lnd` recently released v0.14 that caches the channel graph in memory and it gave a huge boost in path finding, meanwhile Breez is still stuck on 0.12.

[2021-12-04 11:07] kingonly commented on #529
We're planning a 0.14 upgrade.

[2021-12-07 10:37] fanismichalakis opened #647 "Error on build, method 'setMockMethodCallHandler' not defined"
Hello,

Following the build instructions in README, I ran into an error when running `flutter build apk --target-platform=android-arm64 --flavor=client --debug --target=lib/main.dart`.

Here is the command output
[code]

[2021-12-07 11:59] kingonly commented on #647
Updated the build to flutter 2.2.3.
Let's continue in telegram and fox the documentation if needed.

[2021-12-07 11:59] #647 closed

[2021-12-07 21:36] grunch opened #649 "Having more than one pending payments at the same time"
Hey guys, I've been working with a telegram bot which allow users to trade sats by fiat, the bot gives to sellers hold invoices that they need to pay in order to sell satoshis, this payments looks on breez wallet like `pending` until are settled by the recipient (bot), sellers using this bot can sell more than one order at the same time but with breez wallet this is impossible cause the wallet onl

[2021-12-07 21:43] kingonly commented on #649
Strange... We don't do anything actively to block it and I don't see any reason it wouldn't work. There's nothing technically different between a regular payment and a hodl payment from the payer standpoint.
@yaslama can you please take a look (test 2 hodl invoices)?

[2021-12-08 12:56] grunch commented on #649
Yes, thank you for the response, to have this issue clear this are the steps:

1. breez user pay a hold invoice, the payment appears as `pending` on breez
2. breez user copy a new invoice (hold or regular) in the clipboard
3. breez user open breez again, breez didn't show the pop up that usually shows when a user have an invoice on clipboard
4. breez user touch `send` button then `paste invoice or

[2021-12-08 12:59] kingonly commented on #649
Ah... I see. So maybe some kind of a UI bug.
@roeierez can you please take a look?

[2021-12-08 15:01] roeierez commented on #649
@grunch I tried and didn't reproduce that. Can you please try to do the same test with one change: kill the app after step 1 and re-open it to resume the rest of the test.

[2021-12-08 15:30] grunch commented on #649
You're right, if I kill the app after the first payment it works normally, in fact I did a third payment, but I needed to kill the app again, then breez let me pay

![photo_2021-12-08_12-28-30](https://user-images.githubusercontent.com/228364/145235709-c2d2ac63-fdc1-46e4-b349-ccb98925040c.jpg)

[2021-12-12 21:27] iBobik opened #650 "Better support devices without camera"
Some cashier tablets does not have camera (usually whitelabel Android tablets), but Breez still offer taking QR codes by camera.

Also it will be nice to support more ways how to send money without scannig QR codes. Like outgoing LNURL-withdrawl (of course only when wallet is running).

[2021-12-13 08:51] kingonly commented on #650
You can still send or receive w/o a camera. LNURL is supported by copy/paste for example or using Send> Paste Invoice or ID. Same for BTC address.

[2021-12-13 08:51] #650 closed

[2021-12-13 19:17] iBobik commented on #650
Yes, but this cashier tablets usually have no IM accounts installed. Screen
is the only useable way how to communicate easily with devices nearby.

How about offering Connect to Pay URL also as a QR code? There is room for
it on the screen.

Honza Pobořil

13. 12. 2021 9:51:51, kingonly ***@***.***> napsal:

[2021-12-14 04:41] dowodenum commented on #638
Trying to find a decent wallet that will accept BTC (L1) payments. Couldn't find many that weren't an app.

Decided to try Breez, because it's open source. Then I find that it's reliant upon Gulagle Play Services (GPS for short). Nevermind then.

For reference I am on GrapheneOS 2021121012, with no MicroG or Sandboxed Play, etc.

[2022-01-05 12:50] kingonly commented on #649
Fixed in latest

[2022-01-05 12:50] #649 closed

[2022-01-05 12:51] kingonly commented on #638
Please check in the latest version, should be fine now, if not please comment

[2022-01-05 12:53] kingonly commented on #628
All 2xx are accepted now

[2022-01-05 12:53] #628 closed

[2022-01-05 12:54] kingonly commented on #624
Published

[2022-01-05 12:54] #624 closed

[2022-01-05 13:00] kingonly commented on #571
Please let us know if it reproduce in the latest

[2022-01-05 13:00] #571 closed

[2022-01-05 13:01] kingonly commented on #491
There's a visual indication now

[2022-01-05 13:01] #491 closed

[2022-01-05 16:36] kilrau commented on #638
Updated to [today's version](https://github.com/breez/breezmobile/releases/tag/0.12.sp). Still infinite load here.
![image](https://user-images.githubusercontent.com/19181985/148253689-3b04953f-4b7d-4c1d-a8cb-a54d02879b13.png)

Infinite load is fixed, but tab on the warning icon on the upper right -> "Backup now" just does nothing if Google Drive is set as backup option. Suggest to throw a warning

[2022-01-05 16:55] kingonly commented on #638
@yaslama please follow up on the Receive issue

[2022-01-05 17:05] kingonly commented on #638
@kilrau can you please clarify: do you see now a BTC address or not (we're a bit confused)?

[2022-01-05 17:11] kilrau commented on #638
BTC deposit address does *not* appear.

[2022-01-06 14:49] yaslama commented on #638
@kilrau Can you please check a line containing "GooglePlayServicesAvailability:" in the logs (or send me the logs)?

[2022-01-06 15:08] tlindi commented on #322
can I run Breez over tor with Android Orbot?

[2022-01-06 20:43] BonHodl opened #684 "Local Nextcloud backups"
Unable to use local instance of Nextcloud (http(s)://192.x.x.x) for Breez backups. I get an "Invalid URL" message. I have tried a few different url schemes to no avail.
I have a copy of Joplin syncing notes back to my nextcloud machine just fine. Joplin has documentation for the exact url to use for syncing.

[2022-01-07 05:42] yaslama commented on #684
@BonHodl Can you please re-try with the latest version of Breez? You have to use the webdav url of Nextcloud like http://<ip address>/remote.php/dav/files/<username>. You can see the webdav url when you click on the settings button in the lower left corner of the nextcloud page when browsing files. If you use https, the server need to have a valid certificate signed by a valid CA.

[2022-01-07 15:42] kingonly commented on #684
We don't provide that option. Only http will work in this case.

[2022-01-07 16:21] torkelrogstad opened #685 "Add support for lnurl-pay image data"

[2022-01-07 16:22] torkelrogstad commented on #685
This is by the way also an issue in Phoenix, I posted the same issue there: https://github.com/ACINQ/phoenix/issues/234

[2022-01-07 16:25] kingonly commented on #685
We don't support LNURL-Pay thumbnails

[2022-01-07 16:55] kingonly commented on #685
I changed the title/description. There's no issue with the specific thumbnail, we just need to add support for it, but not sure when it will happen. PRs welcomed.

[2022-01-08 12:20] kilrau commented on #638
`Developers` -> `Share Logs` -> `lnd.log` doesn't contain any line with `GooglePlayServicesAvailability`. When searching `lnd.log` for `Google` repetitions of these lines came up:
[code]

[code]
[code]

[2022-01-08 21:04] notnout opened #686 "Show stats of my usage of podcasting"
I'm a heavy sat-streamer to podcasts in Breez. It would be cool if the app had some option to see stats on my usage of podcasts. How much I send per month, per year. What is the top podcast I listened to, etc.

[2022-01-08 21:08] notnout commented on #582
I like the suggestion. To add more detail:
- The common case here is listening to podcasts on a plane. Currently it relies on me not forgetting to download couple pods ahead of time. My memory is generally a bottleneck for many things.
- Another case is users that can't afford to pay for downloading pod using their mobile data plan.

[2022-01-08 23:21] BonHodl commented on #684
Ok thanks. Any chance this would be something added in the future?

[2022-01-08 23:27] kingonly commented on #684
Why is it needed? What's the meaning of using https when ignoring certificates? Why not use http in this case? We're aware that some apps support it (seems to be for legacy), but some apps don't and really not sure why we need to... We're trying to be extra careful when it comes to the security stack.

[2022-01-08 23:32] BonHodl commented on #684
I guess for network security in transport as I understand it. I know if my network was compromised I am in trouble for many things but at least snooping traffic between my devices and the local server would be safe. The server itself would need authorization to access as well so it's just protecting the data transfer.
Ay least that's how I understand it.

[2022-01-09 05:31] yaslama commented on #684
If your network is compromised, you are vulnerable to a MITM (man in the middle attack) because an invalid certificate is accepted, so the attacker can snoop the traffic between Breez and the local server. In fact an invalid certificate gives you the wrong impression that the traffic is secure.

[2022-01-10 10:54] kingonly commented on #638
@kilrau can you please check this APK?
https://drive.google.com/file/d/1MhuXgWVRzKsCtuOy6kg1vTRVkEvy0RNy/view?usp=drivesdk

[2022-01-10 10:58] kilrau commented on #638
"Check" as in "install on my phone to see if the btc deposit address loads"?

[2022-01-10 10:59] kingonly commented on #638
@kilrau yes

[2022-01-10 11:03] kilrau commented on #638
Works :100:

Can close here once a release with the fix is out :partying_face:

[2022-01-10 11:17] kingonly commented on #638
Updated: https://github.com/breez/breezmobile/wiki/Can-I-download-Breez-APK%3F

Thanks for the feedback & support!

[2022-01-10 14:28] MaxHillebrand commented on #638
tACK, this is great!

[2022-01-10 21:27] kingonly commented on #684
I'm closing this for now.

[2022-01-10 21:27] #684 closed

[2022-01-10 21:28] kingonly commented on #629
Although there's probably a bug here, this isn't something we reproduce. Can we close it for now?

[2022-01-10 21:32] kingonly commented on #441
We're slowly adding more languages. This is WIP.

[2022-01-10 21:32] #441 closed

[2022-01-10 21:32] kingonly commented on #430
WIP.

[2022-01-10 21:32] #430 closed

[2022-01-10 21:34] kingonly commented on #388
Not planning to add this.

[2022-01-10 21:34] #388 closed

[2022-01-10 21:35] #360 closed

[2022-01-10 21:37] kingonly commented on #329
Won't implement

[2022-01-10 21:37] #329 closed

[2022-01-10 21:37] kingonly commented on #327
Won't implement

[2022-01-10 21:37] #327 closed

[2022-01-10 21:39] kingonly commented on #209
Transifex are not willing to provide their service for free

[2022-01-10 21:39] #209 closed

[2022-01-11 00:33] #629 closed

[2022-01-11 12:05] tlindi opened #688 "Refund to bitcoin address with QR scan causes error"
Platform: Android
Version: latest
Way to reproduce:
On breez X - Open Receive Bitcoin with address
On breez Y - Open Refund and scan btc address QR from breez X
On breez Y - look to beging of address, it begings with "BITCOIN:"
On breez Y - click Redeem and you will get error about incorrect address

[2022-01-15 05:45] clayt0nk opened #699 "wallet blown away by upgrade"
A simple problem: I accepted the upgrade to the latest version 0.12-beta on Android, and my wallet balance is now zero. This #596 is also me. I never heard back from anyone about #596

[2022-01-15 06:56] kingonly commented on #699
We don't handle support cases in github...
Email us to contact@breez.technology and we'll follow up with you. I'm surprised you are saying no one followed up with you previously, but to make sure, I'll keep this issue open.

[2022-01-15 14:08] #699 closed

[2022-01-23 13:00] tlindi opened #715 "Currency reorder causes checkmark glitch"
Android 10 - version as of today

Reproduce:
Open Currencies
Seleect currency
Drag it up or down

Actual behavior
-Checked currency line duplicates and does not lock to line
-Go to another view, and checkmark is shown where is should not

Desired behavior
-Currencies reorder should work nice without dublicates
-Checkmarks should not be visible on another views

Pls see images.
![InkedScreenshot_20

[2022-01-23 13:13] tlindi commented on #107
Would be really nice feature :)

Consider also to notify of custom channels and custom Bitcoin node setting.

Maybe show "disconnected" error on Exclamation mark on top right, similar to Reclaim notification?

[2022-01-25 15:45] tlindi opened #733 "PoS Receipt printing causes extra post linefeeds"
Issue has occured recently (during Jan 2022).

Basic Receipt Printer Driver has no updates since last Year. So I assume issue is on Breez.

Please see image
![IMG_20220124_175201](https://user-images.githubusercontent.com/7249767/151009454-fa854bf7-7290-411d-95f2-c975de791bb5.jpg)

[2022-01-26 15:07] tlindi commented on #733
This is happening with Android 10 also with another BT Printer.

[2022-01-26 16:40] tlindi commented on #733
This is happening with Android 11 also with another BT Printer (GoojPRT PT-210, which is not officially supported by Basic Receipt Printer Driver - https://play.google.com/store/apps/details?id=me.shadura.escposprint&hl=en&gl=US nor paid version https://play.google.com/store/apps/details?id=me.shadura.escposprint.plus&hl=en&gl=US)

[2022-01-26 19:37] kingonly commented on #715
@ademar111190 please take a look at this

[2022-01-26 19:50] moonshot75 opened #738 "Can't enter custom invoice or Lightning Address when copied invoice on clipboard"
When there's an invoice on the clipboard you can't select another invoice or pay to a Lightning Address.
You have to clear your clipboard to continue with other payments after paying the one on the clipboard.

https://user-images.githubusercontent.com/66482965/151235817-b97fbc49-c659-4222-939b-e4472b18cad6.mp4

[2022-01-26 22:33] kingonly commented on #738
The assumption is that if you want to pay another invoice or a lightning address, you will copy the info. It's rare that people actually type the destination. However, we'll see how we can improve it.

[2022-01-27 10:43] kingonly commented on #733
I tested with the same driver with mht-p10 and I don't reproduce. @erdemyerebasmaz can you please take a look to verify we're not adding extra space at the end of the PDF?

[2022-01-27 14:16] ademar111190 commented on #715
I did manage to reproduce here, thank you very much for the report 🙏
Working on a solution

[2022-01-27 17:48] #715 closed

[2022-01-27 17:53] kingonly commented on #733
@tlindi we're really not sure this is a Breez related issue, but we've prepared a test package for you to try:
https://drive.google.com/file/d/1YcQlC93WUdBCwu_Ffn6VF56Yp0aCVXUF/view?usp=drivesdk
Please let us know if it helps.

[2022-01-27 21:31] moonshot75 commented on #738
Might agree when you pay an invoice as you mostly copy that to your clipboard.
But if you have copied an invoice, paid it and then want to pay someone via Lightning Address it isn't possible.

[2022-01-27 21:33] kingonly commented on #738
But how do get the lightning address? Do you type it manually? On mobile, you are likely to copy it and then you're fine...

[2022-01-27 21:36] moonshot75 commented on #738
Not sure, your data can tell after some time I guess.
I type it a lot as I know some out of my head, but maybe an exception.

[2022-01-27 21:38] kingonly commented on #738
I'll keep this issue open to let others chime in and consider improving this, but from the data we have, currently this isn't an issue for our users.

[2022-01-28 09:54] tlindi commented on #738
This is inconvinient. If one has expired invoice on clipboard, you cant go to invoice payment View.

Might it be possible to show reason of invalidy and present Clear Clipboard button on case of data on clipboard is not valid?

[2022-01-28 10:00] kingonly commented on #738
My argument is that theoretically, that's right, but pragmatically it's hardly ever happens because people use copy/paste in mobile. Even if you can clear the clipboard, next you'll most like copy the new dest. We'll wait for further users input on this one.

[2022-01-29 00:13] Kixunil opened #743 "Replace keysend with AMP"
According to [LND doc](https://github.com/lightningnetwork/lnd/blob/1482e5e20ab974e431ca994e91ce8dbc7f3bbb91/sample-lnd.conf#L386), keysend shouldn't be used anymore and AMP should be preferred.

Using keysend only puts people into awkward situation when they have to enable a deprecated option.

[2022-01-29 00:17] kingonly commented on #743
What exactly you want us to replace? Are you referring to podcasting? Because that's not our specification.

Not sure AMP is going to last either, probably is going to replaced by bolt12.

[2022-01-29 00:23] kingonly commented on #743
Btw, when keysend came up in the roundtable with LL, roasbeef stated it's not going to be deprecated soon (even once AMP is enabled). So this also requires some clarification.

[2022-01-29 13:20] Kixunil commented on #743
Yes, sorry for being unclear.

Where can I raise this issue then?

Good point!

OK, I wanted to avoid supporting keysend just to remove it later but looks like I can't.

[2022-01-29 13:32] kingonly commented on #743
Value block specification is here:
https://github.com/Podcastindex-org/podcast-namespace/blob/main/value/value.md#value-element

Dave and Adam (podcasting 2.0 leaders) are well aware of the alternatives and waiting to see where the chips falls.

Btw, I also DMed you on telegram on this.

[2022-01-29 13:32] #743 closed

[2022-01-29 14:39] tlindi commented on #733
I'm not able to create invoice with this version :-( Not Even with My Own node (as If Breez Deafault is having issues at The moment)

[2022-01-29 14:41] kingonly commented on #733
We're aware, let's wait till our IT issues are resolved.

[2022-01-29 19:36] tlindi commented on #733
![IMG_20220129_213405](https://user-images.githubusercontent.com/7249767/151675058-1e9c3b31-a361-4571-abee-412c2bda191a.jpg)
Not as Bad as originally. What size  PDFvyou create A4 or Letter? Why are bit hard to print into 58mm Receipt Printer ;)

[2022-01-29 19:40] kingonly commented on #733
A4, but the driver should be able to handle it...
We'll commit this change to master (fyi @erdemyerebasmaz).

[2022-01-30 17:54] tlindi opened #748 "BTCPay LNURL-Pay IS not working"
![IMG_20220130_195230](https://user-images.githubusercontent.com/7249767/151711215-b796699d-e573-433f-82ab-cd65e0bd830d.jpg)

Scan and result is

![Screenshot_20220130-194951](https://user-images.githubusercontent.com/7249767/151711230-a796c476-7458-4b37-b802-2badd60cf24a.png)

[2022-01-30 21:01] kingonly commented on #748
Are you sure this is a Breez issue? Does it work in another wallet?

[2022-01-30 22:39] jooray opened #749 "Wakeup crash"
Every morning when I wake up, I get multiple crashes of Breez (without opening it, it is in the background). I have option to Share the bug report or not. Sometimes I submit the report, so you should have these, but it is super annoying, because it crashes 10-30 times in a row and I cannot use my phone until I click on a button 30 times. How can I help debug this problem? During the crash, it's a

[2022-01-30 22:49] kingonly commented on #749
Apologies for the inconvenience. Can you please email us your logs to contact@breez.technology?
Preferences> Developers screen> top right menu> Share Logs
We'll prioritize this issue.

[2022-01-31 00:28] jooray commented on #749
Thank you very much. You have e-mail with subject 'Logs for github issue #749'.

[2022-01-31 00:29] jooray commented on #749
I meanwhile upgraded to iOS 15.3 and it also crashed, sent you the crash log through Apple too.

[2022-01-31 08:04] roeierez commented on #749
Hi @jooray thanks for your report.
We strongly suspect that your crash is caused by this issue in flutter engine: https://github.com/flutter/flutter/issues/95844
To fix it we needed to apply this hotfix on flutter and we built a new package that was released today to test flight.
Can you please install the latest from test flight (4875.1) and let us know if it solved your issue?

[2022-01-31 08:25] MaxHillebrand commented on #748
I believe this is a btcpay issue... https://github.com/btcpayserver/btcpayserver-plugins/issues/6

[2022-01-31 09:46] tlindi commented on #748
Yep same. Same error on my BTCPay logs. And ofcource it doesn't work with other wattets either. Thanx @MaxHillebrand

[2022-01-31 09:54] kingonly commented on #748
Closing here for now.

[2022-01-31 09:54] #748 closed

[2022-01-31 10:06] tlindi commented on #748
BTCPay 1.3.x supports only LNULR-bech32, not clear text text URL:s.
See
![image](https://user-images.githubusercontent.com/7249767/151773882-16b0bbca-479a-47ff-bdf0-91171fb5d282.png)

bech32 QR:s work for me.
:)

[2022-02-01 11:42] jooray commented on #749
Thank you, seems to be fixed.

[2022-02-01 14:37] #688 closed

[2022-02-01 19:18] ademar111190 commented on #646
It does not seem to be the special characters.

![Screenshot 2022-02-01 at 16 17 04](https://user-images.githubusercontent.com/1225438/152035839-eb07f31f-e213-40d4-b76d-79f3a90eaf12.png)

![Screenshot 2022-02-01 at 16 17 12](https://user-images.githubusercontent.com/1225438/152035840-0040ad99-1340-440e-a64a-6c49890a1cd0.png)

![Screenshot 2022-02-01 at 16 16 54](https://user-images.githubuserconte

[2022-02-01 21:15] tlindi commented on #646
Ok. I'll test current version on couple phones and updates result here.

[2022-02-01 21:20] tlindi commented on #733
Works for me. Real solution would be 80mm printer which would eg supported eg Basic Receipt Printer Driver.

What are your printers and are they documented somewhere?
Do you testprint Via LAN, BT and/or USB? If BT which driver App you have?

[2022-02-01 21:24] kingonly commented on #733
I use this http://www.hit-global.cn/products_view_714.html
With the same driver you use (https://play.google.com/store/apps/details?id=me.shadura.escposprint&hl=en&gl=US).

[2022-02-01 21:24] tlindi commented on #738
But it is real nasty to fix when such happens. Zap eg says nothing If clipboard has no compliant data And if there is valid invoice then it asks If you wanna use invoice.

[2022-02-02 11:16] CmdCrypto opened #752 "[Feature request] Display awaiting BTC TX"
Would be a **huge** UI Improvement to display awaiting incoming BTC TX although not yet fully confirmed (Example: Like Samurai Wallet).

Example: Incoming BTC Transaction about XX.XXX BTC (X/3 confirmed)

[2022-02-02 11:20] kingonly commented on #752
You actually have the information in the Receive via BTC Address screen, but it makes sense to add it to the payments list as well. We'll look into it.

[2022-02-02 11:23] CmdCrypto commented on #752
Well, not exactly - on the mains screen I get "Breez is waiting for Bitcoin transfer to be confirmed...." - no info about how many, when, how many confs are missing, tx id. You are thinking like a developer ;-) - I am like a standard user :-p

[2022-02-02 11:37] tlindi commented on #646
I still can re-produce this issue. Your examples above are missing 0.0018€ after (inc.VAT percentage).

My Item ("tuote") looks like this:
![Screenshot_20220202-123557](https://user-images.githubusercontent.com/7249767/152145199-f7d7594f-0038-4332-ae10-66d56848f2f6.png)

Android 11 (Galazy A22 5G) Says: Change of settings failed. Try again.
![SamsungA22A11-IMG_20220202 (2)](https://user-images.git

[2022-02-02 11:43] CmdCrypto commented on #752
Saw your comment on twitter https://twitter.com/Breez_Tech/status/1488838309614919682 - totally unacceptable.

[2022-02-02 11:48] tlindi commented on #752
I think the exclamation mark top right would do also work for me. Details by clicking.

[2022-02-02 11:48] kingonly commented on #752
What this has to do with this issue? And with all due respect to your critique, you are clearly unaware of the work that is being done on enterprise reliability, so for me saying stuff like "lightning was introduced in 2015" or "unacceptable" doesn't provide value. If you're really interested in the success of Lightning, this isn't the way.

[2022-02-02 12:00] tlindi commented on #733
BTW: Where I can check installed Breez version & build?

It's booting to uninstall & reinstall+restore quite often.

[2022-02-02 12:01] CmdCrypto commented on #752
It provides more value than your comments. Good luck with your app but if you take critics this way you will never ever succeed - I am the owner of 2 big LN Nodes for several years now, my nodes did not go a single sec offline bc of a simple disk failure. And if they would do and my users get upset I would do everything I could to assure that this will not happen again instead of pissing those use

[2022-02-02 12:11] kingonly commented on #752
I don't think you know me or Breez very well. You already said I'm thinking like a developer and don't know how to handle critique. Where in fact, I'm not a developer and I accepted your feedback on the btc tx.

Re enterprise reliability: if you run lnd, you should be aware of the missing features of fail overs and reliability. We do our best with the existing constraints, but some of the stuff ar

[2022-02-02 12:21] kingonly commented on #733
Don't you install from Google Play?

[2022-02-02 12:24] tlindi commented on #733
Installed for this test the special version from link above. Usually I install from Play or Apple Stores.

[2022-02-02 12:27] kingonly commented on #733
Yep, this is an exception. We will try to push the fix to Google Play today.

[2022-02-02 12:41] tlindi commented on #733
Thanx. I also purchased Plus version of driver (https://play.google.com/store/apps/details?id=me.shadura.escposprint.plus&pli=1)

Its release notes say especially notes it does NOT support GoojPRT PT-210 (MTP-II), but print is perfect. Only 2 lines extra feed.

So it seem to issue in Xprinter emulation the driver free version is using. Paid version uses GoojPRTn support. See image below:

![sessio

[2022-02-02 13:00] kingonly commented on #733
Nice!

[2022-02-02 14:39] kingonly commented on #733
The fix was published, might take some time to be approved.

[2022-02-02 14:39] #733 closed

[2022-02-02 22:23] tlindi commented on #645
Very neat indeed  👍

[2022-02-03 13:03] tlindi commented on #529
Please wait until you can upgrade to at least 0.14.2. Cause current version has some inconvenient issues.

[2022-02-03 13:07] tlindi commented on #293
Works now for me.

I tried QR above with Breez scanner. It nicely asks for amount and I was able to pay.

Of cource payment failed due invoice was expired. Could you test again @bitcoinuser ?

[2022-02-03 13:08] bitcoinuser opened #755 "Unexpected funds exclamation icon should disappear if is a low value"
Hi,

Unexpected funds exclamation icon should disappear if is a low value that is not possible to send to other address because of fee.

![photo_2022-02-03_10-05-34](https://user-images.githubusercontent.com/1178856/152348771-f2f5cdba-95ad-4013-9e8e-abc70b2fcee6.jpg)

[2022-02-06 11:29] tlindi opened #757 "Add Item doesn't obey Currencies setting"
Add Item Selection list shows and accepts all the currencies even if I select just one currency from settings to be usable.

https://user-images.githubusercontent.com/7249767/152678717-76535cf9-d7ff-4afd-aafb-7d6e5d59e033.mp4

[2022-02-07 08:08] tlindi opened #759 "No success after fixing network on no_connection_dialog_title"
Android

Reproduce:
Turn off all data networks
Start Breez
You see no network notification
Turn on mobile data and / or Wi-Fi
Select retry on notification window
Notification keeps popping up

Workaround:
Wait for some (minute or so) time After data/wifi is turned on
Select Retry
Notification disappears and Breez works normally

I think there was network connectivity exclamation mark related PR or

[2022-02-07 08:17] tlindi opened #760 "Translation missing and eurosign location on Send to bitcoin address"
![Screenshot_20220207-101442](https://user-images.githubusercontent.com/7249767/152749957-5f7b538e-7357-4822-8ad6-bc26aee02ced.png)
^ Warning is not translated

![Screenshot_20220207-101151](https://user-images.githubusercontent.com/7249767/152749958-2d65bac9-20b9-4cec-bf38-25faa911cb13.png)
^Eurosign is pre number. In fi-FI language it should be after value.

[2022-02-07 11:26] tlindi opened #762 "[Feature request] Support Value Added Tax (VAT) and/or Sales TAX"
In restaurents in Finland it is mandatory alvays print receipt even if customer didn't want one. Now they need to print receipt from current PoS + Breez = double expences on thermal paper.

Idea:

Think if there was "Sales Tax" or "VAT" field on Breez Items and it would be exported onto PoS transactions CSV report too.

Shop keepers didn't have to integrate Breez sales onto current PoS system nor

[2022-02-11 06:40] kingonly commented on #759
For me, it takes a few seconds till the try again works, but not a minute. Tested on several devices...

[2022-02-11 10:14] tlindi commented on #759
Maybe I'm not patient enougth. Screenvideo: https://lindfi-my.sharepoint.com/:v:/g/personal/tomi_lind_fi/EQUVU2VMDb9Fo9go32yh2I0Bhnbe9w1JGMwsRkV5UBqP_A?e=BssfwG

I think this could be fixed just by adding one line to proposed fixes above Cancel and TRY AGAIN. Like this? #775

[2022-02-11 12:01] tlindi commented on #410
Works in current version quickly on my 2018'ish Nokia 6.1 Android with 3 currencies.

[2022-02-12 02:52] Bosch-0 commented on #556
+1 on allowing zero amount invoice generation. Odd that Breez allows sending to zero amount invoices but not generating them.

[2022-02-12 11:13] tlindi opened #780 "[Feature Request] Improve backup by including PoS Settings and data onto backup"
Please include Avatar, PoS Settings, Currencies and Items onto backup.

Also Receipt Printing is not possible after restore for PoS transactions prior restore.

[2022-02-12 13:11] kingonly commented on #556
Receiving zero amount invoices requires changes to the on-the-fly channel creation infrastructure.

[2022-02-12 14:21] kingonly commented on #780
@erdemyerebasmaz please take a look. Podcasts in library is another item. Keep in mind that efficiency is key and we already backup breez.db so one approach would be to store everything there. @roeierez should advise.

[2022-02-12 21:44] kingonly commented on #759
Closing for now

[2022-02-12 21:44] #759 closed

[2022-02-13 16:33] moneyball commented on #556
It is fixed in regular bolt11 0-amount invoices. See here in the LND Slack: https://lightningcommunity.slack.com/archives/C6AFCN3KL/p1644504591929909

[2022-02-13 16:36] kingonly commented on #556
Yes, this was fixed since lnd 0.12.

[2022-02-15 19:41] #107 closed

[2022-02-22 14:14] iBobik opened #784 "Improve Transactions UI for merchant's accounting"
From merchants using POS mode (locked by manager password) I have a feedback about usability of the transactions list.

Merchants (at least in my country) every day after business close they do "financial statements" - they count all cash money, today cards transactions, vouchers and also Bitcoin received and compare it with a sales report in POS (the main one). This is necessary everyday pain for

[2022-02-22 19:44] tlindi commented on #784
+1

And possibility to make same optionally weekly and monthly basis. Cause all the merchants do not report on daily basis.

[2022-02-22 19:52] kingonly commented on #784
I understand the requirements, but see if you can use the csv for now. It contains fiat values and dates.

[2022-02-22 20:04] kingonly commented on #784
No need to send to an accountant... Anyone can do it and you can even use a simple Excel macro.

[2022-02-22 20:05] kingonly commented on #784
We're aware there are gaps. However, meanwhile that exactly where you guys can contribute to provide a complete solution.

[2022-02-23 01:34] iBobik commented on #784
CSV is a way, but restaurants here do it on site without a computer. Sending CSV somewhere is exactly that pain in the ass what will stop adoption when there will be more Bitcoin payments every day. Currently it is rare to have more than a few Bitcoin customers a day and most of days none, so counting manually works.

[2022-02-23 05:11] kingonly commented on #784
I was referring to it as an interim solution. One can develop a simple mobile app that generates the necessary information from the csv.

[2022-02-23 12:51] tlindi commented on #784
^ word. I couldn't agree more.

[2022-03-03 14:27] tlindi commented on #322
Reply to myself: No it cant.

will be fixed by Tor #546

[2022-03-08 01:04] iBobik opened #794 "Add support for balanceCheck and balanceNotify for LNURL-Withdraw"
When used LNURL-Withdraw wallet can also save URL for later use, so user can pull sats repetitively from remote wallet.

- https://github.com/fiatjaf/lnurl-rfc/blob/luds/14.md
- https://github.com/fiatjaf/lnurl-rfc/blob/luds/15.md

So if LNURL-Withdraw response contains balanceCheck field, it could offer to save this URL and then check it's balance on each future start. When there are some money i

[2022-03-09 13:40] bitcoinuser opened #797 "Suggestion: Add option to users choose themes for other colors on UI"
Hi,

Maybe not a priority, but would be great to have an option to choose themes for other colors on UI.
For example: I like dark color but I don't like the dark color of Breez. I would like something like this:

![photo_2022-03-09_10-42-16](https://user-images.githubusercontent.com/1178856/157453401-acf4f153-12f8-4e89-b975-e7bf85f93c54.jpg)

[2022-03-09 13:53] kingonly commented on #797
Not in our plans

[2022-03-09 13:53] #797 closed

[2022-03-24 14:31] tlindi opened #807 "UI: Implement easy App version & build check"
Developers -> getinfo shows LND version not App, right?

[2022-03-30 11:56] kingonly commented on #807
Google Play/App Store shows this information. Why this is needed?

[2022-03-30 11:56] #807 closed

[2022-03-30 11:56] kingonly commented on #784
Sales report was added in the latest release

[2022-03-30 11:56] #784 closed

[2022-03-30 12:05] iBobik commented on #784
@kingonly Nice, it helps when there are more transactions a day, but this is not common. Much bigger pain is that all amounts are in sats only.

[2022-03-30 12:06] tlindi commented on #807
![Screenshot_20220330-150320](https://user-images.githubusercontent.com/7249767/160830330-f820a3a5-15ea-4b1c-b105-6feeea9ca710.png)
Yes, Play shows 0.12-beta and date, but no build.

 Wouldn't it Be nice to check version without Google services for ones installing from APK?

[2022-03-30 12:08] kingonly commented on #807
We don't see a need to implement it right now.

[2022-03-30 12:09] kingonly commented on #784
The report shows the aggregated fiat amount (if all the sales were in the same fiat value).

[2022-03-30 13:46] iBobik commented on #784
Aha, fiat field is shown only when there are some transactions. :-)

Honza Pobořil

30. 3. 2022 14:09:35, Roy Sheinfeld ***@***.***> napsal:

[2022-04-02 09:34] theDavidCoen opened #848 "Increase timeout for LNURL withdraw"
When I scan a LNURL withdraw link I made with lnbits (on legend.lnbits.com), I get this warning.
I'm able to scan it with other wallets, for example Wallet of Satoshi or Zeus.
![CsY0ibv2](https://user-images.githubusercontent.com/38695835/161376854-abaa61c3-f09f-426c-bf45-d2c875b32c87.jpg)

I suggest to increase the timeout, but the fix should be general, not specific for that demo service.

You c

[2022-04-02 09:54] kingonly commented on #848
@erdemyerebasmaz please look into it. I tested the link in WoS and it takes a while to load, cso our timeout might be too short for slow servers.

[2022-04-03 18:10] erdemyerebasmaz commented on #848
Average response time for the query at hand proved to be ~20 seconds with various dns & proxy settings, low bandwidth tests. The timeout has been increased to 30 seconds.
![Screenshot_20220403_210543_com breez client debug](https://user-images.githubusercontent.com/4012752/161441915-32decabe-6eae-4422-b9ff-cd642419a249.jpg)

[2022-04-06 11:00] tlindi opened #853 "BUILD: Revise required Flutter version on README?"
Readme says flutter 2.2.3 is needed.
My env:

flutter --version

run:
flutter build apk --target-platform=android-arm64 --flavor=client --debug --target=lib/main.dart

And gives error: "Generating synthetic localizations package has failed."

But @ademar111190 reveals below some newer version would be required.

https://stackoverflow.com/questions/70067808/int-placeholder-on-flutter-localizations

[2022-04-07 12:34] kingonly commented on #848
Fixed in latest

[2022-04-07 12:34] #848 closed

[2022-04-08 15:36] tlindi opened #871 "Restore fails with DEBUG build"
Tried to restore from Google Drive with Debug build. After selecting google account to restore from UI returns to start screen.

Release Breez currently shows Offline - maybe related?

Debug log shows:

E/BREEZUI (11573): Error in method getDefaultOnChainFeeRate: API not ready
E/BREEZUI (11573): go.Universe$proxyerror: API not ready
E/BREEZUI (11573):      at bindings.Bindings.getDefaultOnChainFee

[2022-04-08 17:34] tlindi commented on #871
Reply to self: learned about google APIs needed to setup GDrive connection.

[2022-04-08 17:34] #871 closed

[2022-04-08 22:30] ademar111190 opened #872 "Review the Spanish translations of lines 1-1000"
@Chr1CR 🙏

https://github.com/breez/breezmobile/blob/1f08a72c19f8b0d004c8bd3f0838366097878346/lib/l10n/app_es.arb#L1-L1000

[2022-04-08 22:32] ademar111190 opened #873 "Review the Spanish translations of lines 1001-2004"
@azorcode 🙏

https://github.com/breez/breezmobile/blob/1f08a72c19f8b0d004c8bd3f0838366097878346/lib/l10n/app_es.arb#L1001-L2004

[2022-04-08 22:33] ademar111190 opened #874 "Review the Spanish translations of lines 2005-2054"
@azorcode @Chr1CR 🙏

https://github.com/breez/breezmobile/blob/1f08a72c19f8b0d004c8bd3f0838366097878346/lib/l10n/app_es.arb#L2005-L2054

[2022-04-08 23:25] Chr1CR commented on #872
{
  "home_drawer_item_title_preferences": "Ajustes",
  "home_drawer_item_title_fiat_currencies": "Monedas fiduciarias",
  "home_drawer_item_title_network": "Red",
  "home_drawer_item_title_security": "Seguridad y Respaldo",
  "home_drawer_item_title_transactions": "Transacciones",
  "home_drawer_item_title_balance": "Balance",
  "home_drawer_item_title_podcasts": "Podcasts",
  "home_drawer_item_ti

[2022-04-08 23:37] Chr1CR commented on #874
"on_chain_payment_error_not_enough_funds": "Fondos insuficientes.",
  "valid_payment_error_exceeds_the_limit": "El pago supera el límite de {amount}",
  "@valid_payment_error_exceeds_the_limit": {
    "placeholders": {
      "amount": {
        "type": "String",
        "example": "$ 123"
      }
    }
  },
  "valid_payment_error_keep_balance": "Breez require que mantengas al menos {amount} en su

[2022-04-09 04:21] azorcode commented on #873
"remote_server_server_password_hint": "Contraseña",

"remote_server_server_password_label": "Contraseña",

"remote_server_action_restore": "RESTAURAR",

"remote_server_action_save": "GUARDAR",

"remote_server_warning_connection_title": "Aviso de conexión",

"remote_server_warning_connection_message": "Es posible que su conexión a este servidor remoto no sea una conexión segura. Estás seguro de qué

[2022-04-09 14:16] ademar111190 commented on #872
Fixed https://github.com/breez/breezmobile/pull/875

[2022-04-09 14:16] #872 closed

[2022-04-09 14:17] ademar111190 commented on #874
Fixed https://github.com/breez/breezmobile/pull/875

[2022-04-09 14:17] #874 closed

[2022-04-09 14:19] ademar111190 commented on #873
Fixed https://github.com/breez/breezmobile/pull/876

[2022-04-09 14:19] #873 closed

[2022-04-11 13:41] vv01f commented on #642
@iBobik have a look at https://tftc.io/martys-bent/issue-1181-bip21-is-a-no-brainer/ if you didnt see it yet.

[2022-04-11 13:54] vv01f commented on #762
if implementing this it would be quite helpful to have different presets as there are different (VAT) tax rates (maybe also a fixed part additional to the relative?) on different types of product (e.g. reduced for food, normal for other consumption, higher for unhealthy / luxuries, not meaning to limit the presets on 3). then the preset would need to be associated per item.

also on the bill the s

[2022-04-11 15:30] iBobik commented on #642
@vv01f How is it related to this feature request?

[2022-04-11 17:21] vv01f commented on #642
ok, wasnt imagining anyone would think of sth that much specific. nevermind.

[2022-04-12 14:39] #853 closed

[2022-04-13 12:37] #757 closed

[2022-04-14 14:47] #505 closed

[2022-04-16 07:24] bassim opened #884 "[Feature Request] setting to be only receiving POS"
I need to be able to disable the sending of SATs with a password or something, is this possible?

[2022-04-16 08:00] kingonly commented on #884
See manager password:
https://github.com/breez/breezmobile/wiki/How-to-Get-Started-with-Breez-POS#the-manager-password

[2022-04-16 08:00] #884 closed

[2022-04-26 12:30] #760 closed

[2022-04-27 05:39] fresheneesz opened #897 "Please improve the restore wizard so that you can go back and correct your input words."
The restore wizard really needs to be improved. I've restored a good number of times now having gone through a couple phones since I started using breez. The restore wizard is pretty frustrating to use in large part because the input is paged and going back a page deletes everything you've input. This is incredibly frustrating after spending 5 minutes inputting 24 words if it says "can't restore"

[2022-04-27 06:18] kingonly commented on #897
@erdemyerebasmaz please take a look

[2022-04-27 12:53] erdemyerebasmaz commented on #897
Hello,
I have reduced the restore wizard to single page and the form is not cleared after a verification fails.
I also fixed a bug where suggestions would cease to work until focus is reset on the input field if user types a word that's not included in the [BIP 39 Wordlist](https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt). Swype seemed to work as expected after this fix according

[2022-04-30 17:29] utkarshshendge opened #901 "Dropdown clears the amount after picking the same option"
On the POS keypad screen, the currency type drop-down clears the entered number after choosing the same currency from the drop-down.
Ideally, it should clear the entered number only if the chosen currency is different.
Please see

https://user-images.githubusercontent.com/57677520/166116056-9a40a4ed-02b6-4328-a8b0-d64cc99bdc0e.mp4

[2022-04-30 17:30] utkarshshendge commented on #901
@kingonly I am interested in fixing this. Could you please assign me this issue?

[2022-04-30 17:31] kingonly commented on #901
@utkarshshendge go for it! Thanks for the report 🙏

[2022-05-04 18:58] iBobik opened #903 "Remove avatar image from the description"
When I pay invoices created by Breez by Phoenix it will look like this:
![IMG_F57E3F357AFC-1](https://user-images.githubusercontent.com/614232/166805668-45676c7b-0df7-4eae-a141-199a977ff22e.jpeg)

When I open it I will see the name, but on the second line and with profile metadata, because it is not standardized:
[code]

It is also unusable for anything serious, because we can not add our own pict

[2022-05-04 19:03] kingonly commented on #903
You can add your own image there. It's used for Breez to Breez payments and cannot be removed. Other wallets can easily support this format. We'll discuss with Phoenix.

[2022-05-04 19:56] iBobik commented on #903
Aha, the Gallery button works now, previously it was unresponsive.

But I would prefer to remove it until most other wallets will understand or it will at least be backward compatible.

Honza Pobořil

[2022-05-04 20:06] kingonly commented on #903
Maybe putting a default note is the middle ground?
Try to add a note to a sale and see how it looks.

[2022-05-04 22:11] iBobik commented on #903
My primary use-case is POS mode, when receiving from friends I does not
care much about the branding.

Honza Pobořil

4. 5. 2022 22:06:49, Roy Sheinfeld ***@***.***> napsal:

[2022-05-04 22:19] kingonly commented on #903
You didn't understand my point. Try to add a note to the sale and see how it looks in Phoenix. If it looks good, we can add a default note setting in POS (for example: "McDonald's sale"). With a note, there no need to remove the additional data.

[2022-05-04 22:26] iBobik commented on #903
Aha, good idea. Works well.

Honza Pobořil

[2022-05-04 22:27] iBobik commented on #903
![image](https://user-images.githubusercontent.com/614232/166835547-f03d6dac-e414-4311-9673-8939e260224a.png)

![image](https://user-images.githubusercontent.com/614232/166835527-5ee9286b-5ee6-43e1-95eb-3c045e484b9a.png)

[2022-05-04 22:29] kingonly commented on #903
Cool. We'll add it.

[2022-05-05 20:24] #901 closed

[2022-05-05 22:22] petrkr commented on #118
Any technical reason why you force 64bit Android? Lot of cheap phones or terminals are still on 32bit CPU or Android (even Android 10).

Other wallets works fine, but they does not have POS mode required for restaurants.

[2022-05-06 05:54] kingonly commented on #118
It just requires more resources (build and QA). We decided not to invest in it because 32bit is deprecated and probably gone soon (https://www.androidauthority.com/arm-32-vs-64-bit-explained-1232065/).

[2022-05-06 07:05] petrkr commented on #118
So it's more political decision than technical. Sad... that means we can not use old phones (or even cheap new) for this only one purpose. It's hard to overtalk those peoples to accept bitcoin at all. And if I tell them, they need tripple priced phone, because community decided, they will refuse it to use...

Anyway thanks for answer. I have to do it another way for those use-cases.

Or maybe, if

[2022-05-06 08:08] kingonly commented on #118
Nothing political about it. Resource allocation based on technical information. We're not building for now, we're building an infrastructure for the not so distant future. However, Breez is open source and we welcome external contributions. Again, it's not just dev, it's QA. As for your question, that's part of the work that is needed. We only build 64bit right now.

[2022-05-06 08:43] petrkr commented on #118
Sorry, I already contribute other projects in my free time. If I will contribute for free everyone who write that, I will not do anything else whole day.. But I also need to pay rental fees, so I have to do paid jobs instead. This is your project, you know it much more than me and if there is way how I can do it myself, it is faster to ask...

For now this SW is unusable on most cheap terminals an

[2022-05-06 13:32] iBobik commented on #794
Btw, I see similar notification already working in Breez for swaps:
![IMG_F9D4B6C36E81-1](https://user-images.githubusercontent.com/614232/167141504-44e92e10-3639-49e9-9972-b2f2b5801388.jpeg)

[2022-05-06 13:41] iBobik commented on #794
This could be useable for custodial services (e.g. receive tips to static QR code or LN address) to integrate with non-custodial wallets, so user can move funds to his wallet ASAP, but still receive donations remotely.

[2022-05-23 09:27] theDavidCoen opened #910 "Add support for NFC following the LNURL-withdrawPOS flow reference"
Breez has a great POS UI you can activate with a tap on the side menu. It also has support for LNURL-withdraw.
I believe that if you add NFC support you can improve the UX.

As a reference you could use my repo [LNURL-withdrawPOS](https://github.com/theDavidCoen/LNURL-withdrawPOS).
Other companies/associations are working on that.
See for example [BTCpay's LNURL NFC Support plugin](https://github.

[2022-05-26 10:00] moritz-schindelmann opened #914 "Swift Compiler Error when trying to launch breezmobile locally on macOs with M1 chip"
### Environment
macOs Monterey: Version 12.0.1
Chip: Apple M1 Pro
Flutter 2.10.0 • channel stable
Dart 2.16.0 • DevTools 2.9.2
XCode Version 13.4
go version go1.18.2 darwin/arm64

breezmobile 872ad5f6 (current master head)
breez e3aa150 (current master head)

### Steps to reproduce
1. Breez setup:
[code]

2.  Generate bindings.framework in breez repo:
Run `./build-ios.sh`.
-> `build/ios/bindings.x

[2022-05-26 10:13] roeierez commented on #914
Thanks for the details @moritz-schindelmann I noticed you copied the xcframework folder while currently we require copying the specific architecture framework which in your case should be:
ios/bindings.xcframework/ios-arm64/Bindings.framework

Can you try that please?

[2022-05-26 10:37] moritz-schindelmann commented on #914
Thanks for the quick response.
Correctly copying the bindings got me one step further:
[code]

[2022-05-26 10:44] roeierez commented on #914
If you are building for the simulator it is different architecture and you should copy:
ios/bindings.xcframework/ios-arm64_x86_64-simulator/Bindings.framework/

In order to create this framework you should change the build.sh. Just change the gomobile command to build with different target:
-target=iossimulator

[2022-05-26 11:10] moritz-schindelmann commented on #914
Awesome, that worked. Thank you!

[2022-05-26 11:25] #914 closed

[2022-05-30 10:31] #897 closed

[2022-05-30 10:32] #780 closed

[2022-05-30 10:33] kingonly commented on #685
Added in latest update

[2022-05-30 10:33] #685 closed

[2022-05-30 10:35] kingonly commented on #552
This will be resolved in our Greenlight app. ETA is Q3.

[2022-05-30 10:37] #543 closed

[2022-05-30 10:38] #545 closed

[2022-05-30 10:39] kingonly commented on #454
Fixed

[2022-05-30 10:39] #454 closed

[2022-05-30 10:40] kingonly commented on #436
Added an experimental feature in our latest update

[2022-05-30 10:40] #436 closed

[2022-05-30 10:41] kingonly commented on #420
Added to POS Transactions screen

[2022-05-30 10:41] #420 closed

[2022-05-30 18:36] fresheneesz commented on #897
Thank you!

[2022-06-01 18:26] tlindi opened #916 "Eurosign printed incorrectly on receipt"
Using Nokia 5.1 Plus and (non-paid version) Basic Receipt Printer Driver (paid version name is Receipt Printer Driver) prints euro sign incorrectly on "Item, Price, Amount, Total -line.

"Total sat (nn €)" line prints sign correctly. Please see image.
![IMG_20220601_212208](https://user-images.githubusercontent.com/7249767/171476007-a30567d3-8c9c-421d-bb8a-c9d97cad63bf.jpg)

[2022-06-01 18:30] tlindi opened #917 "Make POS default "Item 1" Configurable ..."
.. in the same way as Default POS Description is now after last release.

If no default is configured, then language file default would be used (Eng: Item, Fin: Tuotenimi").

See image. Line "Tuotenimi 1" shoould show configured Default "Item". In Fin version at place of "Tuotenimi 1" I'd like to see "Bitcoin Lightning -juomamyynti" (without "1").
![IMG_20220601_212208](https://user-images.githubu

[2022-06-01 18:46] kingonly commented on #916
I just tested with the free driver and I get a wrong sign in the total amount also. This is definitely a bug in the driver as the regular printer works as expected. Not sure what we can do here besides using 'EUR' instead of '€' but that wouldn't look as good.
Can you maybe contact the driver creators?

[2022-06-01 18:52] kingonly commented on #917
Maybe a language thing, but "item 1" isn't stupid in English.
Adding a number when there are multiple items is possible but really complicates the code.
We'll remove the numbers from ALL the items if it's really important to you and change the string in English to 'Custom amount'.

[2022-06-01 19:08] tlindi commented on #916
I'm not sure if EUR would work - U know better ;-)

If multible sales Items can only be only added with one currency then ASCII fiat Name (EUR, USD, etc) would work.

Unfor driver developer is not too find of to reply my contact. Or he asks fees for changes to his product.

[2022-06-01 19:11] tlindi commented on #917
Too Bad :-( If wished it would have Been one If centense (If number of lines is not 1 - then add number of line to line end).

[2022-06-01 19:28] tlindi commented on #917
TY. Seems too big change for me to call. There might be many other users who are needing numbers after Item. Tauko waiters and clients just need to adjust to extra "1". I'll see if I can figure out better translation.

Sorry for trouble and thanks for describing your point of view.

[2022-06-01 19:30] kingonly commented on #917
No trouble at all... It's great feedback.

[2022-06-01 22:14] moritz-schindelmann opened #918 "Breezmobile can't connect to simnet"
### Environment
macOs Monterey: Version 12.0.1
Chip: Apple M1 Pro
Flutter 2.10.0 • channel stable
Dart 2.16.0 • DevTools 2.9.2
XCode Version 13.4
go version go1.18.2 darwin/arm64

breezmobile https://github.com/breez/breezmobile/commit/872ad5f6f2b57d777883f05114ba3e12f42437fb
breez e3aa150

### Steps to reproduce

1. Start breez dev simnet with on `DEV_HOST_IP=127.0.0.1`
<img width="847" alt="Scre

[2022-06-02 13:20] kingonly commented on #916
@ademar111190 let's change the currency representation in the receipt to 3 letters instead of a symbol. Sales view should be the same as today with one exception: Let's use丰 for sats (currently we use Ş) which is becoming more popular.

[2022-06-07 11:40] kingonly commented on #916
Everywhere (all the places in the POS functionality)

[2022-06-10 05:43] DanGould opened #921 "Add TWD (New Taiwan Dollar) to currencies"
Please consider adding TWD. I tried to set up a merchant with breez PoS last night but the lack of NT$ made us opt for muun

[2022-06-10 08:38] kingonly commented on #921
Sure, we'll look into it

[2022-06-10 08:46] yaslama commented on #921
TWD is shown now in the list of fiat currencies

[2022-06-10 08:47] #921 closed

[2022-06-11 03:11] DanGould commented on #921
Incredibly fast thank you both

[2022-06-16 04:26] tcharding opened #925 "Invoice payment displays is BTC/sats"
When paying an invoice the mobile app displays the amount to pay in sats, this is inconvenient because typically I am paying a fiat amount and since the receiver created the invoice it is not possible to verify the amount. Said another way, Alice wants to pay Bob $50, Bob creates an invoice for $55 and shows it (or sends it) to Alice, Alice sees the amount in sats and since it is kind of close pay

[2022-06-16 04:33] tcharding opened #926 "Breez wallet goes offline"
Basically every time I open Breez [*] the app says it is 'offline'. I have to go into the phone's app settings and force quit the app, restarting the app then connects to the network correctly and displays balance.

Phone: Pixel 4a, Calyx OS 3.6.0 , Android 12
Network: bb1.breez.technology

[*] - does not happen if I close the app and re-open it immediately or within a few minutes. I only typicall

[2022-06-16 05:20] kingonly commented on #925
You can log press the amount in the dialog to see the fiat value.

[2022-06-16 05:20] #925 closed

[2022-06-16 05:23] kingonly commented on #926
Seem to be an issue specific to your environment.
Perhaps calyx closes the network and not the app and Breez cannot recover.
Let's follow up via email: contact@breez.technology

[2022-06-16 05:23] #926 closed

[2022-06-16 06:58] tcharding commented on #926
Cool, cheers.

[2022-06-16 06:59] tcharding commented on #925
Oh sweet! Thanks

[2022-06-17 06:21] #686 closed

[2022-06-18 17:23] enoughofme opened #928 "Closing channel pending for over a month (limbo)"
Hello, last month I sent funds from the breez app to an on chain address. My app began showing a "pending channel close" and a month later is still showing the same message and the funds have not been received on the other side.

In the pending channels on the developer tab it shows the amount as a "limbo balance" and "anchor": "LIMBO"

This is not in my wheel house, and I don't even know if I'm r

[2022-06-18 17:25] kingonly commented on #928
Github isn't really the right medium for support. Please email us to contact@breez.technology.

[2022-06-18 17:25] #928 closed

[2022-07-01 19:24] kingonly commented on #910
Will publish soon

[2022-07-01 19:24] #910 closed

[2022-07-03 15:49] kingonly commented on #916
Fixed in latest

[2022-07-03 15:49] #916 closed

[2022-07-15 10:46] mouxdesign opened #941 "Accessibility testing: Receive via invoice"
Had completed some accessibility testing on Breez today.

Summary: 
Breez was impressive in the sense that the QR code was acknowledged by the voice over. This is very good because it indicates to the user that there is a qr code on the screen. 

-  Pop up modal on button of  send/receive screen, the text read out for receive via invoice could be improved.

-  Voice over reads out “heading” on Rec

[2022-07-15 12:08] andrasfuchs opened #942 ""invalid pair hash" error in "Send to BTC Address""
I tried to send a few satoshis to a BTC address, but I got this weird "invalid pair hash" error.

![image](https://user-images.githubusercontent.com/910321/179219472-4f7426df-2641-4d01-a858-656b49b76f6f.png)

It would be great if there was some explanation what the exact problem is, and what can I do about it. I have no idea now.

Also it would be better if the Boltz fee and transaction fee would

[2022-07-15 12:13] kingonly commented on #942
We actually don't know more details, this is an error retuned by Boltz

[2022-07-15 12:18] andrasfuchs commented on #942
@kingonly Thank you for the quick reply!

Does this mean that Breez doesn't have the function at the moment to send Lightning satoshis to BTC addresses?
So is it a general problem as you can tell (with Boltz), or does it only happen to me for unknown reasons?

[2022-07-15 12:56] kingonly commented on #942
It seems to be working fine, could you please restart Breez and try again? If the problem persists, please contact us via email contact@breez.technology and we'll follow up with you directly. This is really a support issue, so closing it for now.

[2022-07-15 12:56] #942 closed

[2022-07-15 14:25] kingonly commented on #941
This is very impressive 👏👏👏
Thank you so much for running tests, we'll take a look at it as soon as we can.

[2022-07-15 14:29] mouxdesign commented on #941
Happy that it's useful.

[2022-07-18 18:02] ademar111190 commented on #941
Hi @mouxdesign thank you for the excellent report!

Let me share what I did discover so far regarding the issues and I believe @kingonly can help us to decide how to approach each issue.

The first thing, Android and iOS have different behaviors regarding the issues, which means it is necessary to code for each platform and makes platform-specific tests.
The code itself can be done through the Dar

[2022-07-18 18:06] kingonly commented on #941
Let's keep is as one issue for now. From what I understand most issues are Flutter related (except the snackbar), so I think next step would be to test on Flutter 3. If the problems happen there, we need to open/link to Flutter issues.

[2022-07-19 08:28] kingonly opened #946 "Support sending to bech32m"
https://en.bitcoin.it/wiki/Bech32_adoption

Need to check with Boltz & validate status after 0.15 merge.

[2022-07-20 12:54] #504 closed

[2022-07-20 18:02] Transisto opened #948 "When funding wallet via on-chain make a URI link that include the address and open the default bitcoin wallet."
When funding wallet via on-chain make a URI link that include the address and open the default bitcoin wallet.

[2022-07-20 22:19] blackcoffeexbt opened #949 "Lnurlw URLs passed via NFC are lower cased resulting in errors"
Lnurlw addresses are typically case sensitive. It seems that breez is lower casing the URL before making the request to an lnurlw URL. This causes the response from the lnurlw to be an error as it does not exist.

Screenshot showing lower cased lnurlw and GET response error is attached here.

![Screenshot_20220720-231601](https://user-images.githubusercontent.com/87530449/180092122-49ed1692-1e95-4

[2022-07-20 22:28] kingonly commented on #949
@blackcoffeexbt thanks for the report, we'll take a look. Do you have a test url we try in our tests to reproduce?

[2022-07-20 22:28] kingonly commented on #949
@ademar111190 please take a look

[2022-07-21 09:43] blackcoffeexbt commented on #949
Thanks. Yes, you can use this as an example for testing.

lnurlw://sats.pw/withdraw/api/v1/lnurl/5NGw5bvHKudKNDWiaQeAai

[2022-07-22 15:47] ademar111190 commented on #949
Let me share what I have discovered so far.

The point in the code where the URL is being converted to lower case is here https://github.com/fiatjaf/go-lnurl/blob/8690faff30d628a92b4f0257fdb3d1c3b50c200f/helpers.go#L15 it is being made by the go-lnurl library itself.

It is not an issue with others lnurlw's we have tested but this `sats.pw` seems to be case sensitive as you can see below comparing

[2022-07-22 18:01] kingonly commented on #949
To me it seems like a go-lnurl bug. @ademar111190 let's open a issue in the go-lnurl repo and see what fiatjaf says.

[2022-07-25 21:39] ademar111190 commented on #949
I did open an issue to go-lnurl https://github.com/fiatjaf/go-lnurl/issues/9
As soon as we have a fix there, I'll apply the necessary changes on our side to solve this issue.

[2022-07-26 16:24] ademar111190 commented on #949
The issue was fixed, to update that library and include the fix it is necessary to do some migrations. Roei is already working on it, so as soon as the library update enters to Breez lib plus this PR https://github.com/breez/breezmobile/pull/953 is merged we are going to have this issue fixed.

[2022-08-02 09:49] mouxdesign commented on #941
Well done team on approaching the feedback so positively and for you indepth replies. Feel free to let me know once the flutter migration has been done, happy to test once that has been done as well.

[2022-08-04 11:52] theDavidCoen opened #955 "No strings available for Podcast screens"
I translated the app in Italian and I'm testing the strings but noticed that Podcast has no strings to be translated, so all the screens, search fields and other elements are in English.

Can you check and send me the new strings to translate?
![1659613852256](https://user-images.githubusercontent.com/38695835/182840317-bbade70b-a0f1-454b-8018-0826babee245.jpg)
![1659613852241](https://user-images

[2022-08-04 11:59] kingonly commented on #955
@ademar111190 fyi

[2022-08-04 14:10] ademar111190 commented on #955
That is correct @theDavidCoen the podcast player is a 3rd party library called Anytime so to add translations to it you need to translate more arb files…

Breez has its fork of anytime here: https://github.com/breez/anytime_podcast_player/blob/breez-merge/lib/l10n/intl_en.arb fell free to translate it and open a PR there and add me as a reviewer.

[2022-08-04 18:06] theDavidCoen commented on #955
@ademar111190 got it. I'm gonna check and open a PR, but probably after you submit the new update to the stores.

[2022-08-05 13:45] ademar111190 commented on #955
don't worry @theDavidCoen :)

[2022-08-07 02:27] emanuelb commented on #247
latest tag 0.12.toppodcasts was tested with:

breez.aar was built with:
[code]

ContainerFileAAR Content:
[code]

and apk built with:

[code]

ContainerFileAPK:

[code]

then run both containers and copy `breez.aar` from the first to another:

[code]

in breez_build_apk container:

[code]

result is diff compared to https://github.com/breez/breezmobile/releases/download/0.12.toppodcasts/1656698898

[2022-08-07 07:26] kingonly commented on #247
Thanks for following up @emanuelb 🙏❤️
@yaslama please take look when you can.

[2022-08-07 12:55] emanuelb opened #960 "Remove android.enableJetifier line from gradle.properties"
https://github.com/breez/breezmobile/blob/632068995018566f57ad2bccd2c1568e6605bb0f/android/gradle.properties#L1

See this guide for the steps to ensure it's safe to remove above line `android.enableJetifier=true` (check that all deps are already fully migrated to AndroidX, and migrate the ones still not migrated to it)
https://medium.com/dipien/say-bye-bye-to-android-jetifier-a7e0d388f5d6

Compili

[2022-08-07 14:35] kingonly commented on #960
@ademar111190 please take a look

[2022-08-08 14:31] ademar111190 commented on #960
Really interesting gradle plugin, I didn't know about it, thank you for sharing.

Sharing my discoveries, we have two third-party libraries that still use legacy android libraries (scan and urlauncher). Considering the pros and cons I believe it is better to keep the jetifier and wait for these libraries to update so we can remove it safely in the future.

The build time of Breez is not an issue I

[2022-08-09 11:48] tlindi commented on #322
Gee! LND 0.15 now says it has TOR v3

https://github.com/lightningnetwork/lnd/blob/master/docs/release-notes/release-notes-0.15.0.md

"Neutrino
https://github.com/lightningnetwork/lnd/pull/6468, allowing it to connect to Bitcoin nodes that advertise a Tor v3 onion service address."

Will there be progress on #546 soon?

[2022-08-10 12:42] kingonly commented on #949
Fixed in latest

[2022-08-10 12:42] #949 closed

[2022-08-10 12:43] kingonly commented on #479
Added.
@emanuelb I wonder if in light of your latest findings we can get an updated status in the wallet scrutiny site.

[2022-08-10 12:43] #479 closed

[2022-08-10 12:50] kingonly commented on #755
Won't fix. It's not ideal, but we don't want to add heuristics to the code.

[2022-08-10 12:50] #755 closed

[2022-08-10 12:51] #462 closed

[2022-08-10 15:08] ademar111190 commented on #955
Merged 🥳

As soon as we have a new release it will show Italian texts on Podcast :)

[2022-08-11 15:51] emanuelb opened #965 "versionCode value is static 1 instead of updated for each release"
in AndroidManifest.xml file of generated APK that is locally built the versionCode is 1: `android:versionCode="1"`
cause in `./android/app/build.gradle` it set static value of 1:

https://github.com/breez/breezmobile/blob/592d8dfd71c97812aba13ba247fd186dd22f0915/android/app/build.gradle#L36

while downloading APK from github or playstore will have version value like `1656698898`, and it will be ch

[2022-08-11 15:52] kingonly commented on #965
@yaslama please take a look

[2022-08-11 16:21] emanuelb opened #966 "full path of build path is leaked in libapp.so file"
full-path of build path is leaked in file `libapp.so`

running `strings libapp.so | grep "file:"` (the file `libapp.so` exists in a `./lib/arm64-v8a/` directory after unzip a apk file)

from APK at release (latest release): https://github.com/breez/breezmobile/releases/tag/0.12.upnext

from APK at release (previous release): https://github.com/breez/breezmobile/releases/tag/0.12.toppodcasts

full

[2022-08-11 18:59] yaslama commented on #965
versionCode values need to be a fully ordered set but git (as opposed to svn for instance) has no concept of ordered versions, so the best way to handle this discrepancy is to change the versionCode to be the timestamp when building a release version and to let the committed versionCode to be a small constant. If someone wants to reproduce the same binary, she can use the same value which can be e

[2022-08-11 19:07] kingonly commented on #965
@emanuelb are we ok with this?

[2022-08-19 06:09] SiddheshKukade opened #970 "Feature Request [Developement ]: No issue and PR template in github repository"
### Problem : Currently there is not any issue and Pull Request  templates available in the repository. Due to that we can't get a clear details about the new issues posted  or it just takes too much time  to  organize the details about an issue
#### Solution:
- We can add a `issue template` in the `.github/ISSUE_TEMPLATE/` folder and `.github/PULL_REQUEST_TEMPLATE/`
-  [This Article ](https://doc

[2022-08-19 06:09] SiddheshKukade commented on #970
@maintainers I would like to take this 👍🏻

[2022-08-23 22:21] kingonly commented on #569
Added to latest

[2022-08-23 22:21] #569 closed

[2022-08-23 22:22] kingonly commented on #970
I don't think it's useful in our case, this is more of a channel for our users, it less being used for dev communication.

[2022-08-23 22:22] #970 closed

[2022-08-23 22:24] kingonly commented on #955
@theDavidCoen can we close this?

[2022-08-24 08:49] theDavidCoen commented on #955
@kingonly completed

[2022-08-24 08:49] #955 closed

[2022-08-31 15:57] fresheneesz opened #972 "How do you close your breeze "account" / all channels and redeem your funds?"
I was testing doing a full on-chain spend, expecting it to close out my channels, however it left the customary 600 sats in the channel. It seems like it should be possible to close everything out and redeem all your sats.

[2022-09-01 04:36] kingonly commented on #972
Send to BTC address is a swap. Off-chain to on-chain tx.
To redeem "everything" you need to close all the channels. RTM: https://doc.breez.technology/How-to-close-Breez's-channels.html
There's no 600 sats of channel reserve for the past two years, your channel is very old.

[2022-09-01 04:36] #972 closed

[2022-09-04 21:57] dipunm opened #977 "lnurlw not using http on .onion sites"
as per https://github.com/fiatjaf/lnurl-rfc/blob/luds/17.md

I did a quick test using nfc and saw that it tried to use https on my onion url.

[2022-09-04 22:19] dipunm commented on #977
I was using orbot to make breez be able to make tor requests, so in retrospect, breez has no official support for tor, but it would be cool if it did.

[2022-09-05 02:59] kingonly commented on #977
Did you do this?
https://t.me/lnurl/32585

[2022-09-05 08:32] dipunm commented on #977
Yes

[2022-09-05 08:34] dipunm commented on #977
To be clearer, lnurlw:// and other scheme's are converted to `https`, but when `.onion` is used, it could use `http`

[2022-09-05 09:50] kingonly commented on #977
Gotcha. We might need your help with a test site, could you please provide an email? @ademar111190 please follow up.

[2022-09-05 11:52] dipunm commented on #977
Is there a way to give an email privately? If you provide your email, I can email you... I don't want my email on this public forum.

[2022-09-05 11:53] kingonly commented on #977
Sure, please send a note to: contact@breez.technology

[2022-09-09 01:06] rkfg commented on #529
0.15.1 is out and it's better than ever. Any plans to upgrade from the ancient 0.12?

[2022-09-09 04:11] kingonly commented on #529
We're working on it. In the next few weeks.

[2022-09-16 17:40] ademar111190 commented on #977
I found the root of the problem, and the fix is here https://github.com/fiatjaf/go-lnurl/pull/13
once it is merged on the `go-lnurl` library, we need to update it on breez lib to have the fix on our app.

[2022-09-19 21:56] arbadacarbaYK opened #978 "Bad Message UX : Funding Breez Wallet from an empty NFC-Card"
When using a LNURLw on the POS to receive funds while having too less sats on the card / card is empty the message is too nerdy and not helpful. Should say smth like "Not enough funds available"
<img width="415" alt="Bildschirmfoto 2022-09-19 um 23 55 28" src="https://user-images.githubusercontent.com/63317640/191126596-aad29c60-ba24-4ac4-af8f-a4264fbc6688.png">

[2022-09-19 22:04] kingonly commented on #978
The "Link not working" message is coming from the lnurl service (in this case probably lnbits).
@ademar111190 let's fix the formatting though and just display the error coming from the service w/o the error domain/nslocalizeddescription etc.

[2022-09-19 22:06] arbadacarbaYK commented on #978
exactly 🥳 Thanks!

[2022-09-21 07:16] kingonly commented on #978
Another use case to improve: https://t.me/breez_lightning/25393

[2022-09-23 16:42] tlindi opened #981 "Add transaction report to present fees as a separate column"
UI shows outgoing payment like this:
![image](https://user-images.githubusercontent.com/7249767/192010269-aa943a4e-672e-4ba8-8336-0560be9cefcd.png)
so it is -120sat and -1sat for fees.

Anyhow CSV report export shows total of -120 ie fees are completely invisible:
![image](https://user-images.githubusercontent.com/7249767/192010612-fbfa450c-0a32-44d2-bbab-a620cb6392ec.png)

[2022-09-24 20:01] dipunm commented on #977
Looks like it's merged 👀👀

[2022-09-26 16:24] kingonly commented on #981
@ademar111190 please see if we can add payment fees to the csv export

[2022-09-30 16:34] #981 closed

[2022-10-03 18:01] ademar111190 commented on #977
Excellent, I'll update it on our library asap, thank you @dipunm

[2022-10-05 22:45] AlexFront2021 commented on #914
Please could you clarify what is command I have to use? gomobile build -target=iossimulator doesnt work.

[2022-10-11 08:44] iBobik commented on #903
Anyway, I think you should change the format for the avatar, so it is not
broken for most of users when they interact with other wallets.

Specifically, name text should be on the first line, because this will most
realiably work everywhere. Second line could be URL, but only https or data
schemes, because breez://profile_image is not useable for another wallets,
but https://breez.technology/profi

[2022-10-11 09:11] #978 closed

[2022-10-14 07:44] MarcoFalke opened #988 "A stuck/conflicted/cancelled on-chain swap deposit transaction will block all further deposits"
Breez claims to be "processing" the previous deposit while it is waiting in the mempool and continues to do so even if it leaves the mempool and eventually conflicts.

https://user-images.githubusercontent.com/6399679/195790964-49e71b28-201d-45b2-a797-0bd9ae5c0d4e.png

[2022-10-14 07:49] kingonly commented on #988
Please go to Preferences> Developers screen> top right menu and click 'Reset Unconfirmed Swap'.
Then, restart Breez and see if it helps.

[2022-10-14 09:49] MarcoFalke commented on #988
Thanks

[2022-10-14 09:49] #988 closed

[2022-10-19 08:51] ElucGeek opened #990 "Open a channel from another node to Breez"
Hello,
I would like to open a channel from my node to a Breez wallet node, so the Breez wallet have more than 100k inbound capacity, how can I do that?

[2022-10-19 09:03] kingonly commented on #990
RTM: https://doc.breez.technology/Opening-Channels.html

[2022-10-19 09:03] #990 closed

[2022-10-19 11:26] ElucGeek commented on #990
Ok I saw it already but with the node ID only I cannot open, I need the IP and port, I guess I can find the IP I get from the mobile operator but what about the port number? And will it be open to the phone?

[2022-10-19 14:40] yaslama opened #991 "Receive via BTC address doesn't work if notifications are not authorized"

[2022-10-23 12:01] kingonly commented on #977
@ademar111190 please verify it's included the latest published package, test and close the issue if so.

[2022-10-23 12:05] kingonly commented on #529
Package updated to 15.3. Our LSP was optimized as well.
Could you please take another look?

[2022-10-23 12:47] rkfg commented on #529
Thank you, now it takes just a few seconds with the same channel I used before! I consider this performance to be on-par with other implementations.

[2022-10-23 12:47] #529 closed

[2022-10-23 13:43] kingonly commented on #529
Thank you 🙏
More optimizations are planned in the near future.

[2022-10-23 19:23] kingonly commented on #977
Merged to mobile. Will be released in our next update.

[2022-10-25 07:45] Talkless commented on #638
This link is outdated. Found it here: https://doc.breez.technology/Can-I-download-Breez-APK.html?highlight=apk#can-i-download-the-breez-apk

[2022-10-26 15:42] tlindi opened #993 "On first launch make Breez to set Battery Optimization"
Many mobile Apps require some specific "Rights" to access device when they are installed. Breez is cool - it asks no access to photos etc :) But...

Would it be possible to create 1st time launch sequence where user is advised to turn off background battery saving (Background Optimization) setting for Breez? I know setting varies on each different Android version and even between same Android ver

[2022-10-26 20:37] kingonly commented on #993
https://stackoverflow.com/questions/64554339/permission-to-disable-battery-optimization-keeps-appearing-on-android-api-28-des

[2022-10-26 20:41] kingonly commented on #991
Fixed. Will be part of the next release.

[2022-10-26 20:41] #991 closed

[2022-10-26 21:06] tlindi commented on #993
Meaning there might be a way to implement this - or its completely impossible?

[2022-10-26 21:54] kingonly commented on #993
It's definitely an implementation dependent, but I just added the link here to save the info for future use

[2022-10-30 08:16] tlindi opened #994 "POS Default invoicing currency is not included in backup"
Clean installation of Breez.

I remove other currencies from use from settings, except EUR.

Go to POS and see it has default currency, BTC.

I change it to "EUR". (I noticed Breez is not making backup automatically after this change).

I remove app, restore it from backup and I go to POS - invoicing currency is "sat".

IMO currency should be EUR. As it was before uninstall.

[2022-10-30 08:25] kingonly commented on #994
This is by design. We don't want to include frequent display changes in the backup and trigger too many unnecessary backups.

[2022-10-30 08:25] #994 closed

[2022-11-16 10:23] SiddheshKukade opened #1001 "Broken Link : Running Breez in Simnet link is broken"
Hello , I was analyzing the code base and I've found out that The last link of the README.md is broken and not working.
Image  :
![image](https://user-images.githubusercontent.com/65951872/202154708-674a4d5e-770e-4df2-899e-c0a0320fff23.png)

It Should Link to this link : https://github.com/breez/breezmobile/wiki/Running-Breez-in-simnet

But I think the Wiki tab is disabled for the repository.

[2022-11-16 11:34] SiddheshKukade commented on #970
@kingonly Which chanel is being used for dev communication ?

[2022-11-21 19:33] n4HeVQSGqDeEu6 commented on #413
This is the main reason I'm not using Breez at the moment. Many bitcoiners use an alternative OS on their phones (like grapheneos)...

[2022-11-21 19:36] kingonly commented on #413
We support it via our APK: https://doc.breez.technology/Can-I-download-Breez-APK.html

[2022-11-21 21:05] JssDWt opened #1006 "APK verifiability"
Some users want to be able to verify the Breez APK comes from Breez and not some malicious party. They find it hard to recommend Breez if they can't verify the APK is the real APK.

Some options for this were offered:
- Add a 'verifying the release' section on the release page, with a signature for the APK. An example [here](https://github.com/digitalbitbox/bitbox-wallet-app/releases/tag/v4.35.0#:

[2022-11-22 07:22] AbelLykens commented on #413
Do you expect users to manually check that page weekly? Or is there a built-in update check (there is no auto update, I know, but notifying about a new release at least would really help)?

[2022-11-22 08:09] kingonly commented on #413
There's an in-app 'update' CTA

[2022-11-24 12:11] JssDWt commented on #1006
We added a 'verifying the release' section in the latest release https://github.com/breez/breezmobile/releases/tag/0.15.lnd.hf1

[2022-11-24 12:11] #1006 closed